
					</table>
				</div>
				{{ hook.login_after|raw }}
			</form>
			<hr />
			<div class='cactiAuthErrors'>
				{{ error }}
			</div>
			<div class='versionInfo'>
				{{ version }}
			</div>
		</div>
	</div>
	<div class='cactiAuthLogo'></div>
</div>
