# Ignore vim swap files
*.swp
# Ignore Cacti config
include/config.php
# Ignore Cacti log files
log/cacti.log
# Ignore Cacti rrd files
rra/**
# Ignore Cacti cache files (comment out to commit new directory)
cache/**
