# +-------------------------------------------------------------------------+
# | Copyright (C) 2004-2024 The Cacti Group                                 |
# |                                                                         |
# | This program is free software; you can redistribute it and/or           |
# | modify it under the terms of the GNU General Public License             |
# | as published by the Free Software Foundation; either version 2          |
# | of the License, or (at your option) any later version.                  |
# |                                                                         |
# | This program is distributed in the hope that it will be useful,         |
# | but WITHOUT ANY WARRANTY; without even the implied warranty of          |
# | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           |
# | GNU General Public License for more details.                            |
# +-------------------------------------------------------------------------+
# | Cacti: The Complete RRDtool-based Graphing Solution                     |
# +-------------------------------------------------------------------------+
# | This code is designed, written, and maintained by the Cacti Group. See  |
# | about.php and/or the AUTHORS file for specific developer information.   |
# +-------------------------------------------------------------------------+
# | http://www.cacti.net/                                                   |
# +-------------------------------------------------------------------------+
#
# For any folder that ignores all subcontent (<folder>/**), you
# must MANUALLY use 'git add' to include a file as source
# controlled.  This is to prevent addition of local specific
# content bleeding into cacti's main sources.
#
# Example
# -------
# The themes and scripts folders ignore all contents
# beneath them unless that content was already source controlled
# so to add a new theme, or script, make sure to use 'git add'
# before commiting changes.
#
# Themes
# ------
# Themes have a special case where a theme folder that is
# included in a cacti release has all content considered as
# maintainable and as such are prefixed with an exclamation
# mark (!include/theme/mytheme = do not ignore mytheme)
#

# Ignore vim swap files
*.swp
*.rnd

# Ignore Cacti config
include/config.php

# Ignore Cacti log files/folders
log/**

# Ignore Cacti rrd files/folders
rra/**

# Ignore Cacti cache files/folders
cache/**
*.cache

# Ignore Cacti plugin files/folders
plugins/**

# Ignore Cacti script files/folders
scripts/**

# Ignore Custom Cacti theme folders
include/themes/*/*

# Ignore custom stylesheet (applied on all themes)
include/themes/custom.css

# Do not ignore standard Cacti theme folders
!include/themes/cacti/*
!include/themes/carrot/*
!include/themes/classic/*
!include/themes/dark/*
!include/themes/hollyberry/*
!include/themes/modern/*
!include/themes/paper-plane/*
!include/themes/paw/*
!include/themes/raspberry/*
!include/themes/sunrise/*
!include/themes/midwinter/*

# Ignore any mac DS_Store files
.DS_Store

# Ignore .well-known folders (certbot)
.well-known

# Ignore language files
locales/po/*.mo

# Ignore CSRF secret file
include/vendor/csrf/csrf-secret.php

# Ignore visual studio code
.vscode/**

# Ignore vendor folders
include/vendor/*
vendor/*
