includes:
    - phpstan-baseline.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 8
    scanDirectories:
        - include
    paths:
        - include
        - lib
        - install
        - .
    excludePaths:
        analyse:
           - include/vendor/*
           - plugins/*
           - rector.php
        analyseAndScan:
           - tests/*
    bootstrapFiles:
        - .phpstan-bootstrap.php
        - include/vendor/autoload.php
        - include/config.php.dist
        - include/global_constants.php
        - lib/functions.php
        - include/global.php
        - include/global_languages.php
        - include/global_arrays.php
        - include/global_form.php
        - include/global_settings.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
# PHPStan gets confused about dynamic constants
        - identifier: if.alwaysFalse
        - identifier: notEqual.alwaysFalse
        - identifier: notEqual.alwaysTrue
        - identifier: equal.alwaysTrue
        - identifier: if.alwaysTrue
        - identifier: while.alwaysTrue
        - identifier: greater.alwaysFalse
        - identifier: identical.alwaysTrue
        - identifier: identical.alwaysFalse
        - identifier: booleanAnd.leftAlwaysTrue
        - identifier: booleanAnd.leftAlwaysFalse
        - identifier: function.alreadyNarrowedType
# L9       - '/^Parameter #1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.$/'
# L9       - '/^Parameter #1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.$/'
