parameters:
	ignoreErrors:
		-
			message: '#^Variable \$argc might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_check.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_check.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_test.php

		-
			message: '#^Parameter \#2 \$filter of function filter_var expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: lib/functions.php

		-
			message: '#^Cannot use \+\+ on string\.$#'
			identifier: postInc.type
			count: 1
			path: rrdcleaner.php

		-
			message: '#^Variable \$calculated_index in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: cli/rrdresize.php

		-
			message: '#^Offset 1 on array\{non\-falsy\-string, string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: lib/functions.php

		-
			message: '#^Parameter \#6 \$gc of function session_set_save_handler expects callable\(int\)\: bool, .+ given\.$#'
			identifier: argument.type
			count: 1
			path: include/session.php

		-
			message: '#^Variable \$dep_hash_cache might not be defined\.$#'
			identifier: variable.undefined
			count: 41
			path: lib/import.php
