parameters:
	ignoreErrors:
		-
			message: '#^Variable \$argc might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_check.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_check.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_test.php

		-
			message: '#^Parameter \#2 \$filter of function filter_var expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: lib/functions.php

		-
			message: '#^Cannot use \+\+ on string\.$#'
			identifier: postInc.type
			count: 1
			path: rrdcleaner.php

		-
			message: '#^Variable \$calculated_index in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: cli/rrdresize.php

		-
			message: '#^Offset 1 on array\{non\-falsy\-string, string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: lib/functions.php

		-
			message: '#^Undefined variable\: \$graph_template_item_id$#'
			identifier: variable.undefined
			count: 1
			path: aggregate_graphs.php

		-
			message: '#^Variable \$graph_template_item_id in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: aggregate_graphs.php

		-
			message: '#^Undefined variable\: \$color_template_item_id$#'
			identifier: variable.undefined
			count: 1
			path: color_templates.php

		-
			message: '#^Variable \$color_template_item_id in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: color_templates.php

		-
			message: '#^Undefined variable\: \$graph_template_item_id$#'
			identifier: variable.undefined
			count: 1
			path: graph_templates.php

		-
			message: '#^Variable \$graph_template_item_id in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: graph_templates.php

		-
			message: '#^Undefined variable\: \$graph_template_item_id$#'
			identifier: variable.undefined
			count: 1
			path: graphs.php

		-
			message: '#^Variable \$graph_template_item_id in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: graphs.php

		-
			message: '#^Offset ''image'' on array\{title\: string, image\: string, id\: ''tree'', url\: ''graph_view\.php…'', selected\?\: true\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: lib/html.php

		-
			message: '#^Offset ''image'' on array\{title\: string, image\: string, id\: ''list'', url\: ''graph_view\.php…'', selected\?\: true\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: lib/html.php

		-
			message: '#^Offset ''image'' on array\{title\: string, image\: string, id\: ''preview'', url\: ''graph_view\.php…'', selected\?\: true\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: lib/html.php

		-
			message: '#^Call to function is_numeric\(\) with float\|int\|numeric\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/data_query.php
