parameters:
	ignoreErrors:
		-
			message: '#^Variable \$graph_template_item_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: aggregate_graphs.php

		-
			message: '#^Variable \$calculated_index in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: cli/rrdresize.php

		-
			message: '#^Variable \$color_template_item_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: color_templates.php

		-
			message: '#^Variable \$data_input_field_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: data_input.php

		-
			message: '#^Variable \$profile_rra_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: data_source_profiles.php

		-
			message: '#^Variable \$gprint_preset_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: gprint_presets.php

		-
			message: '#^Variable \$graph_template_item_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: graph_templates.php

		-
			message: '#^Variable \$graph_template_item_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: graphs.php

		-
			message: '#^Offset ''decimal_point'' on array\{decimal_point\: string, thousands_sep\: string, int_curr_symbol\: string, currency_symbol\: string, mon_decimal_point\: string, mon_thousands_sep\: string, positive_sign\: string, negative_sign\: string, \.\.\.\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: include/global_languages.php

		-
			message: '#^Offset ''thousands_sep'' on array\{decimal_point\: non\-empty\-string, thousands_sep\: string, int_curr_symbol\: string, currency_symbol\: string, mon_decimal_point\: string, mon_thousands_sep\: string, positive_sign\: string, negative_sign\: string, \.\.\.\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: include/global_languages.php

		-
			message: '#^Variable \$argc might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_check.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_check.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/cli_test.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: lib/auth.php

		-
			message: '#^Cannot use \+\+ on string\.$#'
			identifier: postInc.type
			count: 1
			path: rrdcleaner.php

		-
			message: '#^Call to function in_array\(\) with arguments ''curBytesIn''\|''curBytesOut''\|''curDroppedIn''\|''curDroppedOut''\|''curPacketsIn''\|''curPacketsOut''\|''curQueuesIn''\|''curQueuesOut'', array\{''curBytesIn'', ''curBytesOut'', ''curPacketsIn'', ''curPacketsOut'', ''curQueuesIn'', ''curQueuesOut'', ''curDroppedIn'', ''curDroppedOut''\} and true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: scripts/ss_mikrotik_queues.php

		-
			message: '#^Variable \$vdef_item_id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: vdef.php
