<phpunit bootstrap="include/vendor/autoload.php" beStrictAboutOutputDuringTests="false">
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="CACTI_TEST_BOOTSTRAP" value="1"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/integration</directory>
        </testsuite>
        <testsuite name="HandOff">
            <directory>./tests/HandOff</directory>
        </testsuite>
    </testsuites>
</phpunit>
