<phpunit bootstrap="include/vendor/autoload.php" beStrictAboutOutputDuringTests="false">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
