html[data-base-color='65'  ] { --background-base-color: 65.0%; }

html {
    --contrast: 0;
    --hue: 233;
    --accent-hue: 240;
    --accent2-hue: 202;
    --special-hue: 233;
    --special2-hue: 218;
    --text-color-white: hsl(0, 0%, 95%);
    --text-color-black: hsl(0, 0%, 5%);
    --text-color-normal: hsl(var(--hue), 7%, 50%);
    --text-color-medium: hsl(var(--hue), 7%, 60%);
    --text-color-light: hsl(var(--hue), 7%, 75%);
    --text-color-lighter: hsl(var(--hue), 7%, 85%);
    --text-color-high-contrast: hsl(var(--contrast), 0%, 95%);
    --text-color-richer: hsl(var(--hue), 50%, 72%);
    --text-color-highlight: hsl(var(--accent-hue), 4%, 95%);
    --text-color-highlight-a: hsl(var(--accent2-hue), 64%, 60%);
    --text-color-navigation: hsl(var(--hue), 7%, 60%);
    --text-color-navigation-highlight: hsl(var(--hue), 7%, 85%);
    --background: hsl(var(--hue), 19%, 17%);
    --background-content: hsl(var(--hue), 23%, 13%);
    --background-filter: hsl(var(--hue), 23%, 14%);
    --background-navigation: hsl(var(--hue), 19%, 17%);
    --background-menu: hsl(var(--hue), 23%, 12%);
    --background-superlowlight: hsl(var(--hue), 23%, 8%);
    --background-lowlight: hsl(var(--hue), 23%, 10%);
    --background-highlight: hsl(var(--hue), 19%, 17%);
    --background-progress: hsl(var(--special2-hue), 69%, 52%);
    --background-progress-semilight: hsla(var(--special2-hue), 69%, 52%, 0.15);
    --background-dark: hsl(var(--hue), 19%, 17%);
    --border-color: hsl(var(--hue), 19%, 17%);
    --border-color-semilight: hsla(var(--hue), 19%, 100%, 0.04);
    --border-color-light: hsla(var(--hue), 19%, 100%, 0.08);

    --border-color-lowlight: hsl(var(--hue), 19%, 17%);
    --border-color-superlowlight: hsl(var(--special2-hue), 8%, 17%);
    --border-color-highlight: hsl(var(--hue), 0%, 75%);
    --scrollbar-thumb: hsl(var(--hue), 7%, 50%);
    --box-shadow-color: hsl(var(--hue), 7%, 10%);
    --separator: hsl(var(--hue), 7%, 55%);
}

html[data-theme-color='light'] {
    --hue: 180;
    --special-hue: 208;
    --special2-hue: 229;
    --progress-hue: 120;
    --text-color-normal: hsl(var(--hue), 0%, 30%);
    --text-color-medium: hsl(var(--hue), 7%, 50%);
    --text-color-light: hsl(var(--hue), 7%, 25%);
    --text-color-lighter: hsl(var(--hue), 7%, 5%);
    --text-color-high-contrast: hsl(var(--contrast), 0%, 5%);
    --text-color-navigation: hsl(var(--special2-hue), 7%, 40%);
    --text-color-navigation-highlight: hsl(var(--hue), 7%, 100%);
    --background: hsl(var(--hue), 27.3%, 97.1%);
    --background-content: hsl(var(--hue), 5%, 96%);
    --background-filter: hsl(var(--hue), 17%, 18%);
    --background-navigation: hsl(var(--contrast), 0%, 100%);
    --background-menu: hsl(var(--contrast), 0%, 93%);
    --background-superlowlight: hsl(var(--hue), 8%, 40%);
    --background-lowlight: hsl(var(--hue), 0%, 100%);
    --background-highlight: hsl(var(--special-hue), 84%, 50%);
    --background-dark: hsl(var(--special2-hue), 19%, 17%);
    --background-progress: hsl(var(--special-hue), 69%, 52%);
    --background-progress-semilight: hsla(var(--special-hue), 69%, 52%, 0.4);

    --border-color: hsla(var(--special2-hue), 84%, 20%, 0.25);
    --border-color-semilight: hsla(var(--special2-hue), 84%, 20%, 0.08);
    --border-color-light: hsla(var(--special2-hue), 84%, 20%, 0.04);

    --border-color-lowlight: hsl(var(--hue), 19%, 17%);
    --border-color-superlowlight: hsl(var(--special2-hue), 4%, 50%);
    --border-color-highlight: hsl(var(--hue), 0%, 75%);
    --scrollbar-thumb: hsl(var(--hue), 13%, 73%);
    --box-shadow-color: hsla(var(--contrast), 0%, 0%, 0.3);
    --separator: hsl(var(--hue), 7%, 65%);
}