:root {
	--select2-border: 1px solid #000;
	--select2-border-radius: 0px;
	--select2-background-dropdown: #eee;
	--select2-background-item: transparent;
	--select2-background-highlight: rgba(255,150,98,0.9);
	--select2-color-item: #000;
	--select2-color-highlight: #fff;
}
