/* main styles */

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body, table, tr, td, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

body {
	background-color: #ffffff;
	background-repeat: repeat-y;
}

table {
	border-collapse: collapse; border-spacing: 0;
	border: none;
	text-align:left;
}

td, th, select {
	padding: 2px;
	margin: 0px;
}

img {
	border:none;
	vertical-align:middle;
}

/* links */

a, a:active, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

th .fa {
    margin-top: -5px;
    position: absolute;
    right: 3px;
    top: 50%;
}

#main {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

tr.selected {
	background-color: khaki;
}

label {
	white-space:nowrap;
}

.nowrap {
	white-space:nowrap;
}

.right {
	text-align:right !important;
}

.left {
	text-align:left !important;
}

.center {
	text-align:center !important;
}

.usermenudown {
	background: transparent url('./../../../images/bullet_arrow_down.png') no-repeat center right;
}

.usermenuup {
	background: transparent url('./../../../images/bullet_arrow_up.png') no-repeat center right;
}

.user {
	padding-right:16px;
	font-weight:bold;
	cursor:pointer;
}

.badpassword_message {
	padding:2px;
	color:red;
	font-size:1.0em !important;
	vertical-align:bottom;
}

.badpassword {
	padding:4px;
	color:red;
	font-size:1.5em !important;
	vertical-align:bottom;
}

.goodpassword {
	padding:4px;
	color:green;
	font-size:1.5em !important;
	vertical-align:bottom;
}

.associated {
	color:green;
	font-weight:bold;
}

.notAssociated {
	color:red;
	font-weight:bold;
}

.disabled_row span, .disabled_row td, .disabled_row a {
	color:grey;
}

.disabled {
	color:grey;
	font-weight:bold;
}

.idle {
	color:green;
	font-weight:bold;
}

.running {
	color:red;
	font-weight:bold;
}

.newObject{
	color:blue;
}

.updateObject {
	color:grey;
}

.unmetDependency {
	color:red;
}

.foundDependency {
	color:navy;
}

.success {
	color:green;
}

.failed {
	color:red;
}

.accessGranted {
	color:green;
	font-weight:bold;
}

.accessGrantedItem {
	color:green;
}

.accessRestricted {
	color:red;
	font-weight:bold;
}

.accessRestrictedItem {
	color:red;
}

.deleteIcon {
	width:10px;
	height:10px;
	cursor:pointer;
	padding:2px;
	border:none;
}

.graphDrillDown {
	vertical-align: top;
	align-self: left;
	z-index: 4;
	padding: 3px;
	height: 100%;
	width: 20px;
}

.iconWrapper {
}

.deleteMarker {
	color: red !important;
	height: 14px !important;
	vertical-align: middle;
	text-decoration: none !important;
}

.deleteMarker:hover {
	text-decoration: none !important;
}

.deleteMarkerDisabled {
	color: grey !important;
	height: 14px !important;
	vertical-align: middle;
	text-decoration: none !important;
}

.deleteMarkerDisabled:hover {
	text-decoration: none !important;
}

.drillDown {
	cursor:pointer;
}

.moveArrow {
	color: #00438C !important;
	height: 14px !important;
	font-size: 14px !important;
	vertical-align: middle;
	text-decoration: none !important;
}

.moveArrow:hover {
	text-decoration: none !important;
}

.moveArrowNone {
	padding-left:14px;
}

.action, .shiftArrow, .calendar {
	cursor: pointer;
	padding:2px;
}

.cactiTooltipHint {
	cursor: pointer;
	color: #6d88ad;
}

.monoSpace {
	font-size:9px;
	font-family: monospace;
}

.utilityPick {
	width: 200px;
}

.itemlist { 
	height:400px;
	overflow-y:scroll;
}

.realms {
	width:20%;
	vertical-align:top;
	white-space:nowrap;
}

.deviceUp {
	color: rgba(148, 179, 107, 0.8) !important;
}

.deviceDown {
	color: #ff0000 !important;
}

.deviceUnknown {
	color: #0000ff !important;
}

.deviceDisabled {
	color: #a1a1a1 !important;
}

.deviceRecovering {
	color: #ff8f1e !important;
}

.deviceError {
	color: #750F7D !important;
}

.deviceDownMuted {
	color: #ffe333 !important;
}

.deviceThreshold {
	color: #ffa833 !important;
}

.deviceUnmonitored {
	color: rgba(250, 253, 158) !important;
}

.deviceWarning {
	color: #aa7807 !important;
}

.deviceAlert {
	color: #660000 !important;
}

.deviceUpBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: rgba(148, 179, 107, 0.8);
}

.deviceDownBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ff0000;
}

.deviceUnknownBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #0000ff;
}

.deviceDisabledBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #a1a1a1;
}

.deviceRecoveringBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ff8f1e;
}

.deviceErrorBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #750F7D;
}

.deviceDownMutedBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ffe333;
}

.deviceThresholdBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ffa833;
}

.deviceUnmonitoredBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: rgba(250, 253, 158, 0.8);
}

.deviceWarningBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #aa7807;
}

.deviceAlertBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #660000;
}

.beingGraphed {
	color: green;
}

.notBeingGraphed {
	color: #484848;
}

.menuoptions {
	background: none repeat scroll 0 0 #eee;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
	z-index:2;
	display:block;
	float:right;
	position:absolute;
	right:12px;
	top:58px;
  	list-style: none;
	text-align:right;
	margin:0px;
	padding:0px;
}

.menuoptions li a {
	border-top: 1px solid #ccc;
	display:block;
	height:14px;
	padding: 4px;
}

.menuoptions li a:hover {
	display:block;
	text-decoration:none;
	background-color: #e1e1e1;
}

.import_label {
	opacity: 0;
	display: none;
}

.import_button {
	opacity: 1;
}

.import_text {
	display:none;
}

.emailtest {
	cursor:pointer;
	display:block;
	float:right;
	text-align:right;
}

.reloadquery {
	cursor:pointer;
	padding:2px;
	vertical-align:middle;
	color:lime;
	font-weight:bold;
	font-size:14px;
}

.verbosequery {
	cursor:pointer;
	padding:2px;
	vertical-align:middle;
	color: rgba(255, 204, 0, 0.8);
	font-size:14px;
}

.deletequery {
	cursor:pointer;
	padding:2px;
	vertical-align:middle;
	color:red;
	font-weight:bold;
	font-size:14px
}

.odd {
	background: none repeat scroll 0 0 #F5F5F5;
    border: none;
}

.even {
	background: none repeat scroll 0 0 #E5E5E5;
    border: none;
}

.even-alternate {
	background: none repeat scroll 0 0 #E7E9F2;
	background-color:#E7E9F2;
    border: none;
}

.saveRow {
	background-color:#EAEAEA;
	text-align:right;
	padding:4px;
}

.treeArea, .treeItemsArea {
	width:33%;
	border:1px solid #006400;
}

.linkMarker {
	color: #c16921;
}

.filteredValue {
	background-color:#F8D93D;
}

.graphItemGr1Alt1 {
	background-color: #EEEEEE;
}

.graphItemGr1Alt2 {
	background-color: #EEEEEE;
}

.graphItemGr1Cust {
	background-color: #D5D5D5;
}

.graphItemGr2Alt1 {
	background-color: #E7E9F2;
}

.graphItemGr2Alt2 {
	background-color: #E7E9F2;
}

.graphItemGr1Cust {
	background-color: #D2D6E7;
}

.graphItemAdd {
	background-color: #00438c;
}

.graphItemDel {
	background-color: #C63636;
}

.graphItemHR {
	color: #FF0000;
}

.hostUp {
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	font-family: monospace;
}

.hostDown {
	color: #ff0000;
	font-size: 10px;
	font-weight: normal;
	font-family: monospace;
}

.cactiPageHead {
	background: #a9a9a9 url("./images/cacti_logo.svg") no-repeat scroll right 40% / 400px auto;
	border-bottom:1px solid #00438c;
	height:37px;
	width:100%;
}

.cactiGraphPageHeadBackdrop {
	background-color: #a9a9a9;
	vertical-align: bottom;
	padding-bottom: 0px;
	float:right;
	width:400px;
	height:37px;
	z-index:-1;
}

.cactiConsolePageHeadBackdrop {
	padding-bottom:0px;
	float:right;
	width:0px;
	height:37px;
	z-index:-1;
}

.navigation {
}

.debug td {
	padding:3px;
	margin:0px;
}

.breadCrumbBar {
	background-color: #e9e9e9;
	padding:2px;
	height:16px;
}

ul#breadcrumbs {
  font-size:8px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.infoBar {
	vertical-align: middle;
	display: block;
	min-width: 15%;
	max-width: 40%;
	margin-right:10px;
	float:right;
	text-align: right;
}

#breadcrumbs li {
	float: left;
	font-size: 10px;
	padding-top: 2px;
}

#breadcrumbs a {
	padding-left:5px;
	padding-right:5px;
	float: left;
	text-decoration: none;
	color: blue;
	position: relative;
}

.cactiContent {
	width: 100%;
	height: 100%;
	vertical-align: top;
	display: table;
	position: relative;
	overflow: hidden;
}

.cactiTreeNavigationArea {
	background: #efefef url('./../../../images/shadow_gray.gif') repeat-x center top;
	border-right: #aaaaaa 1px solid;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	width:250px;
	max-width:400px;
	height: 100%;
	float: left;
	vertical-align: top;
	overflow-y: auto;
	overflow-x: hidden;
}

.jstree {
	position:relative;
	display:block;
}

.cactiConsoleNavigationArea {
	background: snow url('./../../../images/shadow_gray.gif') repeat-x center top;
	border-right: #aaaaaa 1px solid;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:top;
	float:left;
	width:162px;
	height: 100%;
	overflow-y:auto !important;
	overflow-x:auto;
}

.cactiConsoleNavigationArea table {
	width:160px;
}

.treeTable {
	width:100%;
}

.cactiLogo {
	padding-top:20px;
	background: #f5f5f5 url('./images/cacti_logo.svg') no-repeat 30px;	display:block;
	cursor:pointer;
	height:140px;
	width:156px;
	margin-top:-6px;
	margin-left:2px;
	margin-right:2px;
}


.loginLeft, .logoutLeft {
	width:33%;
	float:left;
}

.loginCenter, .logoutCenter {
	position:relative;
	padding:30px 0px 5px 20px;
	top:15%;
	max-width:350px;
	max-height:350px;
	margin-left:auto;
	margin-right:auto;
}

.cactiLoginLogo, .cactiLogoutLogo {
	position:relative;
	float:right;
	top:15%;
	background: transparent url('./../../../images/auth_background.gif') no-repeat center;
	width:350px;
	height:128px;
	z-index:2;
	margin-top:-90px;
	margin-left:0px;
	margin-bottom:-20px;
}

.loginArea, .logoutArea {
	position:relative;
}

.cactiLoginTable td {
	padding-bottom:6px;
	padding-right:6px;
}

.loginErrors, .logoutErrors {
	color:red;
	min-height:0px;
}

legend {
	font-size:22px;
	font-weight:bold;
	text-align:right;
}

.loginRight, .logoutRight {
	width:33%;
	float:right;
}

.loginBody, .logoutBody {
}

.versionInfo {
	padding-top:5px;
	float:right;
	font-size:10px;
	color:black;
}

.actionsDropdown {
	vertical-align:middle;
	padding: 3px;
	width:100%;
	text-align: right;
	display: table;
}

.actionsDropdown div {
	display: table-row;
	margin-top: auto;
	margin-bottom: auto;
}

.actionsDropdownButton {
	vertical-align: top;
	float: right;
	margin-top: 1px;
	margin-left: 3px;
	display: table-cell;
}

.actionsDropdownArrow {
	margin-top: auto;
	margin-bottom: auto;
	float:left !important;
	padding: 3px;
}

.loginPanel {
	padding:4px 0px;
}

.cactiGraphContentArea {
	background: #FFFFFF url('./../../../images/shadow.gif') repeat-x center top;
	padding-top:10px;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align:top;
	float: left;
}
.spikekillData, .spikekillData td {
	border: 1px solid #999;
}

.spikekillNote {
	padding: 1px;
}

.spikekillMenu {
	background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    margin: 0;
    padding: 2px;
	line-height: 1.5em;
}

.spikekillMenu li {
	vertical-align:middle;
}

.spikekillMenu i {
	text-align:center;
	width: 2.0em;
	display:inline-block;
}

.spikekillMenu i:empty{
	width: 2.0em;
	display:inline-block;
}

.cactiConsoleContentArea {
	background: #FFFFFF url('./../../../images/shadow.gif') repeat-x center top;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 162px;
	height: 100%;
	vertical-align: top;
	display: none;
}

.hyperLink, .hyperLink:hover, .hyperLink:visited {
	color: blue !important;
	font-size: 1.1em;
	padding: 3px;
	cursor:pointer;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.iconLink {
	padding:2px;
}

.iconLink img {
	padding-bottom:2px;
}

.noLinkEditMain {
	color: blue;
	text-decoration: none;
	font-weight: bold;
	padding: 3px;
	white-space: nowrap;
}

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
	color: blue;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
	white-space: nowrap;
	cursor:pointer;
}

.linkEditMain:hover {
	color: blue;
	text-decoration: underline;
	font-weight: normal;
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
	color: white;
	font-weight: normal;
	text-decoration: none;
	cursor;pointer;
}

.linkOverDark:hover {
	color: white;
	text-decoration: underline;
}

/* text styles */

.textError {
	font-size: 12px;
	font-weight: bold;
	color: red !important;
}

.textWarning {
	font-size: 12px;
	font-weight: normal;
	color: yellow !important;
}

.textInfo {
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.textHeader {
	font-size: 12px;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.remover {
	cursor: pointer;
}

.messageContainer {
	text-align: center;
	position: absolute;
	display: none;
	left: 30%;
	right: 30%;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
}

.messageBox {
	padding: 1px;
	margin-top: 2px;
	border-radius: 3px;
	background-color:#FFFFFF;
	border:1px solid #BBBBBB;
	position: relative;
	z-index: 4;
}

.textHeaderDark {
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

.templateHeader {
	background-color: #888888;
}

.templateHeader td {
	padding:3px;
}
.textSubHeaderDark, .textSubHeaderDark:visited {
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}

.tableBody {
	background-color: #e1e1e1;
}

.cactiTable {
	width: 100%;
	border-width: 0px;
	border-color: #00438c;
	border-style: solid;
	margin-left:auto;
	margin-right:auto;
}

.cactiTableTitle {
	color: white;
	float: left;
	text-align: left;
	padding: 2px 0px;
	height: 16px;
	display: table-cell;
	width: 90%;
	background-color: #00438c;
}

.cactiTableButton {
	float: right;
	padding: 2px 0px;
	height: 16px;
	display: table-cell;
	text-align: right;
	width: 10%;
	background-color: #00438c;
}

.cactiTableButton span, .cactiTableTitle span {
	padding: 0px 3px 0px 3px;
	font-size: 11px;
	font-weight: bold;
}

.cactiDebugTable {
	width: 100%;
}

.filterTable {
	white-space:nowrap;
}

.filterTable td:first-child {
	width:55px;
}

.formItemDescription {
}

.formItemName {
	font-weight:bold;
}

.graphItem {
	background-color: #D5D5D5;
}

.graphItemAlternate {
	background-color: #D2D6E7;
}

.break {
	height:8px;
}

.next {
	padding-right:6px;
	padding-left:6px;
}

.previous {
	padding-right:6px;
	padding-left:6px;
}

.cactiNavBarTop {
	background-color: #00438c;
}

.cactiNavBarBottom {
	background-color: #00438c;
}


.tableHeader {
	background-color: #6d88ad;
}

.tableHeader td {
	color: #ffffff;
	font-weight: bold;
}

.tableHeader th {
	color: #ffffff;
	font-weight:bold;
	cursor: pointer;
	vertical-align:middle;
	text-align:left;
	border-right: 1px groove #efefef;
	background-color: #6d88ad;
	font-size:11px;
}

.tableHeader th:last-child {
    border-right: none !important;
}

.tableHeader th div {
	display:block;
	padding-right:8px;
	font-size:10px;
}

.tableSubHeaderColumn {
	color: #ffffff;
	font-weight:bold;
	vertical-align:middle;
	text-align:left;
	cursor:pointer;
}

.graphSubHeaderColumn {
	color: #ffffff;
	font-size:12px;
	vertical-align:middle;
	text-align:left;
	padding:3px;
}

.tableSubHeaderCheckbox {
	background-color: #819bc0;
}

.image_table {
	width:100%;
}

.tableConfirmation {
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;
}

.navBar {
	min-width:30%;
	white-space:nowrap;
}

.navBarNavigation {
	color: white;
	width: 100%;
	text-align:center;
	display:inline-block;
	margin-bottom: -3px;
	margin-left:auto;
	margin-right:auto;
	background-color: #00438c;
	font-size: 12px;
}

.navBarNavigation a, .navBarNavigation a:visited, .navBarNavigation a:hover {
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}


.navBarNavigationPrevious {
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	float: left;
	white-space: nowrap;
	display: block;
	width: 10%;
	padding: 2px 0px;
	height: 16px;
	vertical-align: middle;
}

.navBarNavigationCenter {
	text-align: center;
	display: block;
	float: left;
	white-space: nowrap;
	width:80%;
	padding: 2px 0px;
	height: 16px;
	margin-top: auto;
}

.navBarNavigationCenter span {
	vertical-align: middle;
}

.navBarNavigationNext {
	text-align: right;
	cursor: pointer;
	font-weight: bold;
	float: right;
	white-space: nowrap;
	display: block;
	width: 10%;
	padding: 2px 0px;
	height: 16px;
	vertical-align: middle;
}

.navBarNavigationNone {
	text-align: center;
	display: block;
	float: left;
	white-space: nowrap;
	width:100%;
	padding: 2px 0px;
	height: 16px;
	margin-top: auto;
}

.navBarNavigationNext i.ui-icon {
	margin-top: -16px;
	margin-right: -16px;
	top:50%;
}

.navBarNavigationPrevious i.ui-icon {
	margin-bottom: -16px;
	margin-left: -16px;
	top:50%;
}

.textArea {
	font-size: 10px;
	background-color:#f5f5f5;
}

.popupBox {
	z-index: 2;
	position: absolute;
	padding: 0px;
	display: none;
	overflow: auto;
	color: #FFFFFF;
	background-color:#e5e5e5;
	border:1px solid #e5e5e5;
}

.installArea {
	background-color: #ffffff;
	padding: 10px;
}

.textAreaNotes {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.textEditTitle {
	font-size: 10px;
	font-weight: bold;
}

.textMenuHeader {
	color: #ffffff;
	background-color: #9C9C9C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.textMenuItem {
	background-color: #f5f5f5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuSubItem {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuItemSelected {
	background-color: #E1E1E1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.txtErrorTextBox {
	border: 2px solid #ff0000;
}
.txtErrorText {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
}

/* tabs */
.tabSpacer {
	width:0px;
	padding-right:2px;
	padding-left:0px;
}

.tabsMarginLeft {
	padding-left:2px;
}

.tabSelected {
	background-color:silver;
	white-space:nowrap;
	width:1%;
}

.tabNotSelected {
	background-color:#dfdfdf;
	white-space:nowrap;
	width:1%;
}

.tab {
	border-color: #999 #666 -moz-use-text-color #999;
	border-style: solid solid none;
	border-width: 1px 1px medium;
}

.tabs li a {
	background-color: #DFDFDF;
    float:left !important;
    padding:5px 4px;
    text-decoration:none;
    font-size: 11px;
	border-color: #999 #666 !important;
    border-style: solid solid none;
    border-width: 1px 1px medium;
	font-weight: bold;
}

div#tabs {
	padding-bottom: 0px;
	float: left;
	vertical-align: bottom;
}

td#tabs {
	padding-bottom: 0px;
	float: left;
	vertical-align: bottom;
}

.cactiGraphHeaderBackground {
	height: 37px;
	float:right;
	z-index:-1;
}

div#gtabs {
	padding-bottom: 0px;
	vertical-align: bottom;
	float:right;
}

.tabs {
}

.tabs a:hover {
	background-color: silver;
}

.tabs a.selected {
	background-color: silver;
}

.tabs li {
	bottom:-1px;
	float:left;
	margin:0 3px 0 0;
}

.tabs li.current a {
	background:#fff;
	border-bottom:1px solid #fff;
}

.tabs li.current a:hover {
	background:#fff;
	border-bottom:1px solid #fff;
}
.tabs nav {
	padding:0px 4px 0px 0px;
    background-repeat:repeat-x;
	zoom:1;
}

.tabs nav:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}

.tabs ul {
	list-style:none;
	margin:0;
	padding:0;
}

/* Navigation Area */
#nav {
	margin: 0px;
	overflow-y: auto;
}

#nav li a {
	display: block;
	font-size: 10px;
	padding: 2px 4px;
	background: #ccc;
	border-bottom: 1px solid #666;
	border-top: 1px solid #eee;
	text-decoration: none;
	color: blue;
}

#nav li a.active {
	color: snow;
	background-color: #9c9c9c;
	border-bottom: 1px solid #666;
  	font-weight: bold;
}

#nav li a.pic:hover, #nav li a.selected {
	background-color: #e1e1e1;
}

#nav li ul {
	display: none;
	padding:0;
}

#nav li ul li a {
	padding: 2px 4px;
	background: #f5f5f5;
	border-bottom: 1px dotted #ccc;
}

#nav li ul li {
	list-style:none;
	padding:0;
}

ul#nav {
	list-style: none;
	padding:0;
	width:100%;
}

.clogError {
	background-color: #FF3932;
}

.clogWarning {
	background-color: #EACC00;
}

.clogSQL {
	background-color: #6DC8FE;
}

.clogDebug {
	background-color: #C4FD3D;
}

.clogStats {
	background-color: #96E78A;
}

.clogLimit {
	background-color: #EACC00;
}

@media print {
	.noprint { display:none }
}

.ui-tooltip {
	max-width: none !important;
}

.ui-tooltip-content div.header {
	color: blue;
}

.ui-tooltip-content {
	min-width: 100px !important;
	max-width: 500px !important;
	overflow:auto !important;
	opacity: 0.95;
	border-radius: 5px !important;
	border: transparent;
}

.ui-tooltip-content div.content {
	font-size: 10px;
	color: #333333;
}

div.preformatted {
	font-family: monospace;
	white-space: pre;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align:middle;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: white;
	float: left;
	padding: 0px 2px 2px 2px;
	text-decoration: none;
	margin: 0px 1px;
}

ul.pagination li span {
	color: white;
	float: left;
	padding: 0px 0px;
	text-decoration: none;
	margin: 0px 1px;
}

ul.pagination li a.active {
	background-color: #E1E1E1;
	color: black;
}

ul.pagination li a:hover:not(.active) {
	background-color: #9C9C9C;
	color: black;
}

tr#realtime td:first-child {
	height:54px;
}

.logEmergency {
	background-color: #FA7420;
	text-align: center;
	width: 12.5%;
}

.logCritical {
	background-color: #F21721;
	text-align: center;
	width: 12.5%;
}

.logWarning {
	background-color: #FF7A30;
	text-align: center;
	width: 12.5%;
}

.logAlert {
	background-color: #F21924;
	text-align: center;
	width: 12.5%;
}

.logError {
	background-color: #FB4A14;
	text-align: center;
	width: 12.5%;
}

.logNotice {
	background-color: #FAFD9E;
	text-align: center;
	width: 12.5%;
}

.logInfo {
	background-color: #CCFFCC;
	text-align: center;
	width: 12.5%;
}

.logDebug {
	background-color: #CDCFC4;
	text-align: center;
	width: 12.5%;
}

.menu_glyph {
	display: none;
}

.ui-multiselect {
	padding: 1px;
	color: black;
	font-size: 12px;
}

.ui-multiselect-checkboxes span {
	font-size: 12px;
	color: black;
}

.ui-multiselect-header {
	background-color: #E5E5E5;
}

.ui-multiselect-filter {
	width: 100%;
}
