# Apache 2.4
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

# Apache 2.2
<IfModule !mod_authz_core.c>
    Order Allow,Deny
    Deny from all
</IfModule>

#Prevent Access to the .htaccess file

# Deny access to .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Prevent Access to browser reading script files 
<FilesMatch "^\.">         
    Order allow,deny
    Deny from all
</FilesMatch>
