.mdw-GridContainer {
    display: grid;
    grid-template-areas: "sidebar header"
                         "sidebar main"
                         "sidebar footer";
    grid-template-columns: 4rem calc(100dvw - 4rem);
    grid-template-rows: 4rem calc(100dvh - 4rem);
}

.mdw-ConsolePageHead {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 4rem;
    background-color: var(--background-navigation-top);
    grid-area: header;

    * {
        float: left;
        padding-bottom: 0;
    }

    > div {
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--text-color-normal);
        background: transparent;
        font-size: var(--fs-big);
        font-weight: var(--fw-medium);

        .compact_nav_icon {
            font-size: var(--fs-regular);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 100%;
            cursor: pointer;
        }
    }
}

.navBreadCrumb {
    padding: 0 0 0 1.5rem;

    & i {
        display: none;
    }

    & div {
        padding: 0;
        cursor: pointer;
        text-align: center;

        & span:hover {
            text-decoration: underline;
            color: var(--text-color-highlight-a);
        }

        &:not(:last-child)::after {
            margin: 0 0.5rem;
            content: ">";
        }

    }

    & a {
        &:visited {
            color: var(--text-color-normal);
        }

        &:hover,
        &:focus {
            text-decoration: underline;
            color: var(--text-color-highlight-a);
        }
    }
}

.navSearch {
    flex: 1;
}

.navFilter {
    &::after {
        content: "";
        height: 70%;
        border-left: 1px solid var(--border-color);
        margin: 0.2rem;
    }

    .compact_nav_icon.active {
        color: var(--text-color-normal);
        background-color: transparent;

        &:hover {
            color: var(--text-color-white);
            background-color: var(--background-progress-semilight);
        }
    }
}

.navControl {
    padding-right: calc( 0.5rem + 4px);
}

/* Main Content Area */
.mdw-Main {
    border-top: 1px solid var(--border-color-light);
    grid-area: main;

    &:has(.saveRowParent) {
        padding-bottom: 4rem;
    }
}

/* ensure that save buttons stay at the bottom. no solution has been found yet to use grid-area: footer instead */
.saveRowParent {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 4rem;
    width: calc(100vw - 4rem);
    height: 4rem;
    padding-right: 0.5rem;
    border-top: 1px solid var(--border-color-semilight);
    background: var(--background-content);
}

/* Console Navigation Area */
.mdw-ConsoleNavigation {
    z-index: 1000;
    display: flex;
    float: left;
    overflow-y: visible !important;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-right: 1px solid var(--box-shadow-color);
    background: var(--background-navigation);
    grid-area: sidebar;

    .compact_nav_icon_menu {
        &:first-of-type {
            height: 4rem;
            width: 4rem;
            cursor: pointer;
            background: transparent url(./../../images/cacti_logo.svg) no-repeat scroll 50% 50% / 20px auto;
        }

        &:last-child {
            display: flex;
            align-items: stretch;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .compact_nav_icon {
        font-size: var(--fs-semilarge);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        margin-right: -1px;
        cursor: pointer;

        & > span {
            display: none;
        }

        /* CSS driven tooltip */
        &[data-tooltip]:not([data-tooltip=""])::after {
            font-size: var(--fs-regular);
            position: absolute;
            left: 50%;
            width: fit-content;
            height: fit-content;
            padding: 0.25rem 1rem;
            content: attr(data-tooltip);
            transition: 0.1s;
            transform: translate(2.75rem, 0) scale(0);
            transform-origin: top;
            text-align: center;
            white-space: nowrap;
            opacity: 0.9;
            color: var(--text-color-normal);
            border: 1px solid var(--border-color);
            border-radius: 5px;
            background: var(--background-lowlight);
            box-shadow: var(--box-shadow-color) 0 10px 20px;
        }

        &[data-tooltip]:not([data-tooltip=""]):not(.active):hover:after {
            animation: scaleDelay ease 0.1s;
            animation-delay: 0.75s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

.mdw-ConsoleNavigationBox {
    position: absolute;
    z-index: 900;
    top: 4rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
    width: 55rem;
    min-width: 19rem;
    max-width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateX(-125%);
    border-top: 1px solid var(--border-color-light);
    border-right: 1px solid var(--background-navigation);
    border-bottom: 1px solid var(--background-navigation);
    border-radius: 2px;
    background-color: var(--background-menu);
    box-shadow: -2px 10px 5px 2px var(--box-shadow-color);

    &[data-align="right"] {
        right: 0;
        left: unset;
        transform: translateX(+125%);
        border: unset;
        border-top: 1px solid var(--border-color-light);
        border-bottom: 1px solid var(--background-navigation);
        border-left: 1px solid var(--border-color);
        box-shadow: 0 10px 5px 0 var(--box-shadow-color);

        .navBox-header-button:last-child {
            width: 3rem;
            margin-right: calc(0.5rem + 4px);
        }

        .navBox-content {
            overflow: unset;
            padding: 0;
            & nav {
                padding: 0 0.5rem;
            }
        }
    }

    &.visible {
        transform: translate(0);

        & input {
            display: block;
        }
    }

    &[data-width="1"]    { width: 19.0rem; }
    &[data-width="1.5"]  { width: 28.5rem; }
    &[data-width="2"]    { width: 36.0rem; }
    &[data-width="3"]    { width: 53.0rem; }
    &[data-width="4"]    { width: 70.0rem; }
    &[data-width="5"]    { width: 87.0rem; }
    &[data-width="auto"] { width: auto;   }

    &[data-height="half"] {
        top: unset;
        bottom: 0 !important;
        height: 28rem;
        max-height: 100vh;
    }

    &[data-height="half"] .navBox-header {
        text-align: right;
    }

    &:has(.navBox-search:not(.hide)) {
       & > .navBox-content {
            height: calc( 100% - 7rem );
        }
    }

    & input {
        display: none;
    }

    & ul.nav,
    & ul#nav {
        display: flex;
        gap: 1rem;
        align-content: flex-start;
        flex-flow: row wrap;
        writing-mode: vertical-lr;
        flex-direction: row;

        .mdw-ConsoleNavigationBox:not([data-width="auto"]) & {
            writing-mode: unset;
        }
    }
}

#nav li a,
.nav li a {
    padding: unset;
}


.navBox-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: calc(3.5rem - 2px);
    text-align: center;
    border-bottom: 1px solid var(--border-color-semilight);
    background: var(--background-lowlight);
}

.navBox-header-title {
    font-size: var(--fs-big);
    flex-grow: 1;

    > span {
        margin-left: 2rem;
    }
}

.navBox-header-button,
.navBox-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 100%;
    cursor: pointer;
}

.navBox-header-button:hover,
.navBox-header-dropdown.show,
.navBox-header-dropdown:hover {
    color: var(--text-color-white);
    background-color: var(--background-progress-semilight);
}

.navBox-header-dropdown.show > .navBox-header-dropdown-content {
    display: block !important;
}

/* Dropdown Content (Hidden by Default) */
.navBox-header-dropdown-content {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 0;
    display: none;
    white-space: nowrap;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    &.show {
        display: block;
    }

    & a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:hover {

        }
    }
}


.navBox-search {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    height: calc(3.5rem - 2px);
    padding: 0 2rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color-semilight);
    background: var(--background-lowlight);

    & input {
        font-size: var(--fs-regular);
        color: var(--text-color-normal);
        border: 1px solid var(--background-progress-mediumlight);
        border-radius: 5px !important;
    }
}

.navBox-content {
    overflow: auto;
    padding: 1rem 0 0 1rem;
    height: calc( 100% - 3.5rem );

    &:has(.mdw_tree) {
        padding: 1rem 1rem 0 1rem;
    }

    & .mdw_tree {
        height: 100%;
    }
}

.mdw-SideBarContainer {
    .menu_glyph {
        font-size: var(--fs-big);
        font-weight: var(--fw-semibold);
        width: 1.5rem;
        color: var(--background-progress);
    }

    .menu_parent {
        font-size: var(--fs-big);
        display: flex !important;
        flex-direction: row;
        flex-shrink: 1;
        margin-bottom: 0.3rem;
        cursor: default;
        pointer-events: none;

        &:not(.active) {
            #color: #3d3d3d;
        }
    }

    .menuitem {
        position: relative;
        overflow: hidden;
        width: 16rem;
        writing-mode: initial;

        & span {
            font-weight: var(--fw-medium);
            color: var(--text-color-high-contrast);
        }

        &:hover span {
            display: inline-block !important;
            animation: dropdown-anim .15s ease-in-out .1s forwards;
        }

        & ul {
            display: block !important;
            border-left: none !important;
        }

        &:hover ul {
            display: inline-block !important;
        }

        &.double {
            width: 32rem;

            & div:first-child {
                width: 12.5rem;
            }

            & div:nth-child(2) {
                flex: 1;
            }

            & input[type="range"] {
                width: 10rem;
                padding: 0;
            }
        }
    }
}

@media screen and (max-height: 450px) {
    .mdw-GridContainer {
        grid-template-columns: 4rem calc(100dvw - 4rem);
        grid-template-rows: 0 100dvh;
    }

    [class^="mdw-ConsoleNavigationBox"] {
        top: 0;
        width: calc(100vw - 4rem) !important;
        max-width: calc(100vw - 4rem) !important;
        height: 100vh !important;
        max-height: 100vh;
        border-top: none;

        .header {
            display: none;
        }

        & ul.nav,
        & ul#nav {
            flex-direction: row;
            height: 100%;
            padding-top: 1rem;
        }
    }

    .navBox-header-button {
        margin-right: 1rem;
    }

    .navBox-header-dropdown {
        display: none;
    }
}


html {

    &[data-theme-color-auto="on"] {
        .compact_nav_icon[data-helper="toggleColorMode"] {
            display: none !important;
        }
    }

    &[data-kiosk-mode="on"] {
        .mdw-GridContainer {
            grid-template-columns: 0 auto;
            grid-template-rows: 0 auto;
        }

        .mdw-ConsolePageHead {
            display: none;
        }

        .mdw-ConsoleNavigation {
            display: none !important;
        }

        .mdw-Main {
            height: 100vh;
            border-top: none;

            &:has(.saveRowParent) {
                height: calc(100vh - 4rem);
            }
        }

        .saveRowParent {
            left: 0;
            width: 100vw;
        }
    }
}