/* Compact BreadCrumbBar with Cacti Logo */
#mdw-ConsolePageHead {
    display: flex;
    height: 4rem;
    background-color: var(--background-navigation-top);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    padding: 0 12px 0 4rem;
}

html[data-kiosk-mode='on'] #mdw-ConsolePageHead {
    display: none;
}

#mdw-ConsolePageHead * {
    float: left;
    padding-bottom: 0;
}

#mdw-ConsolePageHead > div {
    height: 100%;
}

#navBreadCrumb {
    display: flex;
    align-items: center;
    font-size: var(--fs-big);
    font-weight: var(--fw-medium);
    padding: 0 0 0 1.5rem;
    color: var(--text-color-normal);
    background: transparent;
}

#navBreadCrumb i,
#navBreadCrumb div {
    margin-right: 0.5rem;
    padding: 0;
    text-align: center;
    color: var(--text-color-normal);
}

#navSearch {
    flex: 1;
}

#navFilter,
#navControl,
#filterTableOnTopControl {
    display: flex;
    align-items: center;
    font-size: var(--fs-big);
    font-weight: var(--fw-medium);
    color: var(--text-color-normal);
    background: transparent;
    justify-content: flex-end;
}

#navFilter {
    padding-right: 2px;
}

#navControl {
    height: 3rem !important;
    border-left: 1px solid var(--border-color);
    padding-left: 2px;
}

#navControl .compact_nav_icon,
#navFilter .compact_nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: var(--fs-regular);
    cursor: pointer;
}

#navControl .compact_nav_icon:last-child {
    width: 2rem;
}

#navFilter .compact_nav_icon.active {
    color: var(--text-color-normal);
    background-color: transparent;
}

#navFilter .compact_nav_icon.active:hover {
    color: var(--text-color-white);
    background-color: var(--background-progress-semilight);
}

/*
html[data-top-nav='off'] .compact_nav_icon[data-helper='hideTopNavBar'] .fas {
    rotate: x 180deg;
    transition: 0.5s ease-in-out;
}

html[data-top-nav='on'] .compact_nav_icon[data-helper='hideTopNavBar'] .fas {
    rotate: x 0deg;
    transition: .5s ease-in-out;
}
 */

html[data-theme-color-auto='on'] .compact_nav_icon[data-helper='toggleColorMode'] {
    display: none !important;
}

#navBackdrop {
    display: block;
    background: transparent url(./../../images/cacti_logo.svg) no-repeat scroll 50% 50% / 20px auto;
    background-color: var(--background-navigation);
    padding-bottom: 0;
    float: left;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border-right: 1px solid var(--box-shadow-color);
    z-index: 1000;
}

#filterTableOnTopControl .compact_nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

/* Main Content Area */
.cactiContent {
    height: calc(100vh - 4rem) !important;
    border-top: 1px solid var(--border-color-light);
}

html[data-kiosk-mode='on'] .cactiContent {
    height: 100vh !important;
    border-top: none;
}

/* Console Navigation Area */
#mdw-ConsoleNavigation {
    display: flex;
    flex-direction: column;
    overflow-y: visible !important;
    width: 4rem;
    height: 100%;
    top: -4rem;
    justify-content: flex-start;
    position:relative;
    float:left;
    z-index: 1000;
    background: var(--background-navigation);
    border-right: 1px solid var(--box-shadow-color);
}

html[data-kiosk-mode='on'] #mdw-ConsoleNavigation {
    display: none !important;
}

.compact_nav_icon_menu:last-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    flex: 1;
    margin-bottom: 0.5rem;
}

.mdw-ConsoleNavigationBox {
    top: 4rem !important;
    width: 55rem;
    height: calc(100vh - 4rem);
}

.mdw-ConsoleNavigationBox[data-width="1"]     { width:   19rem !important; }
.mdw-ConsoleNavigationBox[data-width="1.5"]   { width: 28.5rem !important; }
.mdw-ConsoleNavigationBox[data-width="2"]     { width:   38rem !important; }
.mdw-ConsoleNavigationBox[data-width="3"]     { width:   57rem !important; }
.mdw-ConsoleNavigationBox[data-width="4"]     { width:   76rem !important; }
.mdw-ConsoleNavigationBox[data-width="5"]     { width:   95rem !important; }
.mdw-ConsoleNavigationBox[data-width="auto"]  { width:    auto !important; }

.mdw-ConsoleNavigationBox[data-height="half"] {
    top: unset !important;
    bottom: 0 !important;
    height: 28rem;
    max-height: 100vh;
}

.mdw-ConsoleNavigationBox[data-height="half"] .navBox-header {
    text-align: right;
}

[class^='mdw-ConsoleNavigationBox'] {
    box-sizing: border-box;
    min-width: 19rem;
    max-width: calc(100vw - 5rem);
    position: absolute;
    left: 4rem;
    background-color: var(--background-menu);
    box-shadow: -2px 10px 5px 2px var(--box-shadow-color);
    border-top: 1px solid var(--border-color-light);
    border-right: 1px solid var(--background-navigation);
    border-bottom: 1px solid var(--background-navigation);
    border-radius: 2px;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateX(-125%);
    z-index: 900;
}

[class^='mdw-ConsoleNavigationBox'][data-align='right'] {
    left: unset;
    border: unset;
    right: 0;
    box-shadow: 0 10px 5px 0 var(--box-shadow-color);
    border-top: 1px solid var(--border-color-light);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--background-navigation);
    transform: translateX(+125%);
}

[class^='mdw-ConsoleNavigationBox'][data-align='right'] .navBox-header {
    padding-right: 1rem;
}

[class^='mdw-ConsoleNavigationBox'].visible {
    transform: translate(0);
}

#nav li a,
.nav li a {
    padding: unset;
}

[class^='mdw-ConsoleNavigationBox'] ul.nav,
[class^='mdw-ConsoleNavigationBox'] ul#nav {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    writing-mode: vertical-lr;
    height: 100%;
    width: 100% !important;
    overflow-x: auto;
    flex-direction: column;
}

[class^='mdw-ConsoleNavigationBox'][data-width='auto'] ul.nav,
[class^='mdw-ConsoleNavigationBox'][data-width='auto'] ul#nav {
    flex-direction: row;
}

.navBox-header {
    height: calc(3.5rem - 2px);
    background: var(--background-lowlight);
    border-bottom: 1px solid var(--border-color-semilight);
    display: flex;
    align-items: center;
    text-align: center;
}

.navBox-header-title {
    width: 100%;
    font-size: var(--fs-big);
}

.navBox-header-title > span {
    margin-left: 2rem;
}

.navBox-header-button,
.navBox-header-dropdown {
    width: 3.35rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navBox-header-button:hover,
.navBox-header-dropdown.show,
.navBox-header-dropdown:hover {
    color: var(--text-color-white);
    background-color: var(--background-progress-semilight);
}

.navBox-header-dropdown.show > .navBox-header-dropdown-content {
    display: block !important;
}

/* Dropdown Content (Hidden by Default) */
.navBox-header-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 2rem;
    right: 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    white-space: nowrap;
}

/* Links inside the dropdown */
.navBox-header-dropdown-content a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.navBox-header-dropdown-content a:hover {

}

/* Show the dropdown menu on click */
.navBox-header-dropdown-content.show {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navBox-header-dropdown-content:hover .dropdown-button {

}

.navBox-content {
    height: calc(100% - 3.5rem);
}


#mdw_tree {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 4rem;
    overflow: auto;
}

#mdw_tree_search {
    width: 100%;
    height: 4rem;
}

#mdw_tree_content {
    width: 100%;
    height: calc(100% - 4rem);
}

#menu::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.mdw-ConsoleNavigationArea .compact_nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: var(--fs-semilarge);
    cursor: pointer;
    margin-right: -1px;
    position: relative;
}


.mdw-ConsoleNavigationArea .compact_nav_icon[data-tooltip]:not([data-tooltip=""])::after {
    background: var(--background-lowlight);
    opacity: 0.9;
    color: var(--text-color-normal);
    padding: 0.25rem 1rem;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    left: 50%;
    content: attr(data-tooltip);
    transform: translate(2.75rem, 0) scale(0);
    transform-origin: top;
    transition: 0.1s;
    box-shadow: var(--box-shadow-color) 0 10px 20px;
    border: 1px solid var(--border-color);
    font-size: var(--fs-regular);
}

.mdw-ConsoleNavigationArea .compact_nav_icon[data-tooltip]:not([data-tooltip=""]):not(.active):hover:after {
    animation: scaleDelay ease 0.1s;
    animation-delay: 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.mdw-ConsoleNavigationArea .compact_nav_icon > span {
    display: none;
}

#mdw-SideBarContainer .menu_glyph {
    color: var(--background-progress);
    font-size: var(--fs-big);
    font-weight: var(--fw-semibold);
    padding-left: 0.75rem;
    width: 1.5rem;
}

#mdw-SideBarContainer .menu_parent {
    display: flex !important;
    flex-direction: row;
    flex-shrink: 1;
    margin-bottom: 0.3rem;
    cursor: default;
    pointer-events: none;
    font-size: var(--fs-big);
}

#mdw-SideBarContainer .menu_parent:not(.active) {
    #color: #3d3d3d;
}

#mdw-SideBarContainer .menuitem {
    position: relative;
    width: 16rem;
    overflow: hidden;
    margin: 1rem 0 1rem 1rem;
    writing-mode: initial;
}

#mdw-SideBarContainer .menuitem.double {
    width: 32rem;
}

#mdw-SideBarContainer .menuitem.double div:nth-child(2){
    width: 16rem !important;
}

#mdw-SideBarContainer .menuitem span{
    font-weight: var(--fw-medium);
    color: var(--text-color-high-contrast);
}

#mdw-SideBarContainer .menuitem:hover span {
    display: inline-block !important;
    animation: dropdown-anim .15s ease-in-out .1s forwards;
}

#mdw-SideBarContainer .menuitem ul {
    display: block !important;
    border-left: none !important;
}

#mdw-SideBarContainer .menuitem:hover ul {
    display: inline-block !important;
}

.cactiTreeNavigationArea,
.cactiTreeNavigationArea * {
    display: none !important;
}

.cactiConsoleContentArea {
    margin-left: 0 !important;
}

.cactiConsoleContentArea #filterTableOnTop {
   /* padding-top: 0.6em; */
}

/* General Compact Styling Elements */
.cactiShadow {
    display: none;
}

@media screen and (max-height: 450px){
    [class^='mdw-ConsoleNavigationBox'] {
        height: 100vh;
        max-height: 100vh;
        top: 0;
        width: calc(100vw - 4rem) !important;
        max-width: calc(100vw - 4rem) !important;
    }

    [class^='mdw-ConsoleNavigationBox'] .header {
        display: none;
    }
    [class^='mdw-ConsoleNavigationBox'] ul.nav,
    [class^='mdw-ConsoleNavigationBox'] ul#nav {
        height: 100vh;
        padding-top: 1rem;
    }

    #compact_user_menu {
        margin-bottom: 10px;
    }
}



/* ############### test only ##############
.cactiTable .tableHeader > th:first-child{
    text-align: left;
}
 */