.mdw-GridContainer {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 4rem calc(100vh - 4rem);
}

.mdw-ConsoleNavigation {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--background-navigation);
}

.mdw-main {
    grid-area: main;
    border-top: 1px solid var(--box-shadow-color);
}

.compact_nav_icon_menu {
    display: flex;
    align-items: center;

    &:first-of-type {
        width: 4rem;
        cursor: pointer;
        background: transparent url(./../../images/cacti_logo.svg) no-repeat scroll 50% 50% / 20px auto;
    }

    &:last-of-type {
        flex: 1;
        justify-content: right;
    }

    & [data-helper="logout"] {
        display: none;
    }
}

.compact_nav_icon {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 3rem;
    height: 4rem;
    cursor: pointer;
    font-size: var(--fs-semilarge);
}




/* Compact BreadCrumbBar with Cacti Logo */
.mdw-ConsolePageHead {
    display: none;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 3rem;                                                    /* <=== changed */
    height: 4rem;
    background-color: var(--background-content);
    grid-area: header;
}

#mdw-ConsolePageHead * {                  /*equal*/
    float: left;
    padding-bottom: 0px;
    background-color: var(--background-content);
}

#navBreadCrumb {
    display: none;                                                  /* changed, but optional see core.css */
}



/* Main Content Area */
.cactiContent {                     /*equal*/
    height: calc(100vh - 4rem - 1px) !important;
    border-top: 1px solid var(--background-menu);
}



.cactiConsoleNavigationArea .compact#compact_user_menu {
    justify-content: flex-end;
    margin-right: 0.5rem;
}

[class^="cactiConsoleNavigation"] [class$="Box"] {
    position: fixed !important;
    z-index: 1000;
    top: 4rem !important;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 4rem);
    border-top: 1px solid var(--background-navigation);
    background-color: var(--background-menu);
}

.mdw-ConsoleNavigationBox .fa,
.cactiConsoleNavigationBoxSmall .fa{
    padding-right: 0;
}

#nav li ul,
.nav li ul {
    padding-left: 3.5rem;
}

#nav li a,
.nav li a {
    padding: unset;
}

.cactiConsoleNavigationArea .header {
    font-size: var(--fs-big);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    color: var(--text-color-navigation-highlight);
    border-bottom: 1px solid var(--background-navigation);
}

.cactiConsoleNavigationArea .header > div {
    width: 16rem;
    padding-left: 1rem;
}

.cactiConsoleNavigationArea .header > div > span {
    margin-left: 3.5rem;
}

.cactiConsoleNavigationArea .header > div:nth-child(2) {
    width: 16rem;
}

.mdw-ConsoleNavigationBox ul.nav,
.mdw-ConsoleNavigationBox ul#nav,
.cactiConsoleNavigationBoxSmall ul.nav {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-content: flex-start;
    flex-flow: row wrap;
    flex-direction: column;
    max-width: 100%;
    height: calc(100% - 5rem - 2px);
    margin: 0.5rem 0;
    writing-mode: vertical-lr;
}




.cactiConsoleNavigationArea #menu::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.cactiConsoleNavigationArea .compact_nav_icon {
    font-size: var(--fs-semilarge);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 4rem;
    cursor: pointer;
}

.cactiConsoleNavigationArea .compact_nav_icon > span {
    display: none;
}

.cactiConsoleNavigationArea .menu_glyph {
    font-size: var(--fs-big);
    font-weight: var(--fw-semibold);
    width: 1.5rem;
    padding-left: 1rem;
    color: var(--text-color-navigation-highlight);
}

.cactiConsoleNavigationArea .menu_parent {
    display: flex !important;
    flex-direction: row;
    flex-shrink: 1;
    margin-bottom: 0.3rem;
    cursor: default;
    pointer-events: none;
}

.cactiConsoleNavigationArea .menu_parent:not(.active) {
    #color: #3d3d3d;
}

.cactiConsoleNavigationArea .menuitem {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 2rem);
    margin: 0.5rem;
    padding: 1rem 0 1rem 1rem;
    background: var(--background-content);
    writing-mode: initial;
}

.cactiConsoleNavigationArea .menuitem:hover {
}

.cactiConsoleNavigationArea .menuitem span{
    #TODO: color
}

.cactiConsoleNavigationArea .menuitem:hover span {
    display: inline-block !important;
    animation: dropdown-anim .15s ease-in-out .1s forwards;
}

.cactiConsoleNavigationArea .menuitem ul {
    display: block !important;
    border-left: none !important;
}

.cactiConsoleNavigationArea .menuitem:hover ul {
    display: inline-block !important;
}

.mdw-main {
    border-top: 1px solid var(--border-color-light);
    grid-area: main;

    &:has(.saveRowParent) {
        padding-bottom: 4rem;
    }
}

.formRow {
    flex-direction: column;
}

