html {

    &[data-theme-color-auto="on"] {
        .compact_nav_icon[data-helper="toggleColorMode"] {
            display: none !important;
        }
    }

    &:not([data-controls-subtitle="on"]) {
        .compact_nav_icon::after {
            display: none !important;
        }
    }

    &[data-kiosk-mode="on"] {

        .mdw-GridContainer {
            grid-template-columns: 0 auto;
            grid-template-rows: 0 auto;
        }

        .mdw-ConsolePageHead {
            display: none;
        }

        .mdw-ConsoleNavigation {
            display: none !important;
        }

        .mdw-Main {
            height: 100vh;
            border-top: none;
            /*
                        &:has(.saveRowParent) {
                            height: calc(100vh - 4rem);
                        }
              */
        }

        .saveRowParent {
            left: 0;
            width: 100vw;
        }
    }
}

.mdw-GridContainer {
    display: grid;
    grid-template-areas: "sidebar header"
                         "sidebar main"
                         "sidebar footer";
    grid-template-columns: 4rem calc(100dvw - 4rem);
    grid-template-rows: 4rem calc(100dvh - 4rem);
}

.mdw-ConsolePageHead {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 4rem;
    background-color: var(--background-navigation-top);
    grid-area: header;
    padding: 2px 0 3px 0;

    * {
        float: left;
        padding-bottom: 0;
    }

    > div {
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--text-color-normal);
        background: transparent;
        font-size: var(--fs-big);
        font-weight: var(--fw-medium);

        .compact_nav_icon {
            position: relative;
            font-size: var(--fs-regular);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 100%;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;

            &[data-tooltip]:not([data-tooltip=""])::after {
                top: 125%;
                right:90%;
            }
        }
    }
}

.navBreadCrumb {
    padding: 0 0 0 1.5rem;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;

    & div {
        display: flex;
        padding: 0;
        cursor: pointer;
        text-align: center;
        align-items: center;

        & a, span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }

        & a:hover,
          span:hover {
            text-decoration: underline;
            color: var(--text-color-highlight-a);
        }

        &:not(:last-child)::after {
            margin: 0 0.5rem;
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            display: block;
        }

    }

    & a {

        &:visited,
        & mark {
            color: var(--text-color-normal);
        }

        &:hover,
        & mark:hover,
        &:focus {
            text-decoration: underline;
            color: var(--text-color-highlight-a);
        }
    }
}

.navSearch {
    flex: 1;
}

.navFilter {
    &::after {
        content: "";
        height: 70%;
        border-left: 1px solid var(--border-color);
        margin: 0.2rem;
    }

    .compact_nav_icon.selected {
        color: var(--text-color-normal);
        background-color: transparent;
        &::after {
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
        &:hover {
            color: var(--text-color-white);
            background-color: var(--background-progress-semilight);
        }
    }
}

.navControl {
    padding-right: calc( 0.5rem + 5px);
}

/* ensure that save buttons stay at the bottom. no solution has been found yet to use grid-area: footer instead */
.saveRowParent {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 4rem;
    width: calc(100vw - 4rem);
    height: 4rem;
    padding-right: 0.5rem;
    border-top: 1px solid var(--border-color-semilight);
    background: var(--background-content);
}

/* Console Navigation Area */
.mdw-ConsoleNavigation {
    z-index: 1000;
    display: flex;
    float: left;
    overflow-y: visible !important;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-right: 1px solid var(--border-color-semilight);
    background: var(--background-navigation);
    grid-area: sidebar;
    padding-bottom: 2px;


    .compact_nav_icon_menu {
        &:last-child {
            display: flex;
            align-items: stretch;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .compact_nav_icon {
        font-size: var(--fs-semilarge);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        margin: 1px 2px;
        cursor: pointer;
        border-radius: 4px;
        border: 2px solid transparent;

        &:has(.navBackdrop){
            height: calc(4rem - 2px);
        }


        & .navBackdrop {
            width: 100%;
            height: 3.5rem;
            background: transparent url("./../../images/cacti_logo.svg") no-repeat scroll 50% 50% / 20px auto;

            html[data-controls-subtitle="on"] & {
                height: 2rem;
                background: transparent url("./../../images/cacti_logo.svg") no-repeat scroll 50% 50% / min(10px) auto;
            }
        }

        &[data-subtitle]:not([data-subtitle=""])::after {
            display: block;
            content: attr(data-subtitle);
            font-size: var(--fs-small);
            margin-top: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        & > span {
            display: none;
        }
    }
}

.mdw-active::before {
    background-color: var(--background-active);
    border-radius: 4px;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 0.25rem;
    left: -1px;
}

* {
    /* CSS driven tooltip */
    &[data-tooltip]:not([data-tooltip=""])::after {
        z-index: 300;
        font-size: var(--fs-regular);
        position: absolute;
        width: fit-content;
        height: fit-content;
        padding: 0.5rem 1rem;
        content: attr(data-tooltip);
        transition: 0.1s;
        transform: translate(0, 0) scale(0);
        transform-origin: center;
        text-align: center;
        white-space: nowrap;
        opacity: 0;
        color: var(--text-color-normal);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background: var(--background-navigation-top);
        box-shadow: var(--box-shadow-color) 0 10px 20px;
    }

    &[data-tooltip]:not([data-tooltip=""]):not(.selected):hover:after {
        opacity: 1;
        animation: scaleDelay ease 0.1s;
        animation-delay: 0.75s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}



.mdw-ConsoleNavigationBox {
    visibility: hidden;             /* although visibility is boolean only, this is important to avoid that the menu
                                       items are focusable while the navigation box is outside the viewport. */
    position: absolute;
    z-index: 900;
    top: 4rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
    width: 55rem;
    min-width: 19rem;
    max-width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    transition: visibility 0.5s linear, transform 0.5s ease-in-out;
    transform: translateX(-125%);
    border-top: 1px solid var(--border-color-light);
    border-right: 1px solid var(--background-navigation);
    border-bottom: 1px solid var(--background-navigation);
    border-radius: 2px;
    background-color: var(--background-menu);
    box-shadow: -2px 10px 5px 2px var(--box-shadow-color);

    &[data-align="right"] {
        right: 0;
        left: unset;
        transform: translateX(+125%);
        border: unset;
        border-top: 1px solid var(--border-color-light);
        border-bottom: 1px solid var(--background-navigation);
        border-left: 1px solid var(--border-color);
        box-shadow: 0 10px 5px 0 var(--box-shadow-color);

        .navBox-header-button:last-child {
            margin-right: calc(0.5rem + 4px);
        }

        .navBox-content {
            overflow-y: auto;
            padding: 0;
            & nav {
                padding: 0 1rem;
            }
        }
    }

    &.visible {
        visibility: visible;
        transform: translate(0);

        & input {
            display: block;
        }
    }

    &[data-width="1"]    { width: 19.0rem; }
    &[data-width="1.5"]  { width: 28.5rem; }
    &[data-width="2"]    { width: 36.0rem; }
    &[data-width="3"]    { width: 53.0rem; }
    &[data-width="4"]    { width: 70.0rem; }
    &[data-width="5"]    { width: 87.0rem; }
    &[data-width="auto"] { width: auto;   }

    &[data-height="half"] {
        top: unset;
        bottom: 0;
        height: auto;
        max-height: 100vh;
    }

    &[data-height="half"] .navBox-header {
        text-align: right;
    }

    &:has(.navBox-search:not(.hide)) {
       & > .navBox-content {
            height: calc( 100% - 7rem );
        }
    }

    & input {
        /*display: none;*/
    }

    & ul.nav,
    & ul#nav {
        display: flex;
        gap: 1rem;
        align-content: flex-start;
        flex-flow: row wrap;
        writing-mode: vertical-lr;
        flex-direction: row;
        justify-content: flex-start;

        &::after{
            content: "";
            flex: auto;
            flex-basis: 16rem;
        }

        .mdw-ConsoleNavigationBox:not([data-width="auto"]) & {
            writing-mode: unset;
        }
    }
}

#nav li a,
.nav li a {
    padding: unset;
}


.navBox-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 3.5rem;
    text-align: center;
    background: var(--background-navigation);
    padding: 2px 0.5rem 3px 0.75rem;
}

.navBox-header-title {
    flex-grow: 1;

    > span {
        margin-left: 2rem;
    }
}

.navBox-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.navBox-header-button:hover {
    color: white;
    background-color: hsla(208, 69%, 40%, 0.5);
}

.navBox-header-filler {
    flex: 1;
}

.navBox-header-button.dropdown.show > .navBox-header-dropdown-content {
    display: block !important;
}

/* Dropdown Content (Hidden by Default) */
.navBox-header-dropdown-content {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 0;
    display: none;
    white-space: nowrap;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    &.show {
        display: block;
    }

    & a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:hover {

        }
    }
}


.navBox-header-search {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
    max-width: 32rem;
    background: var(--background-navigation);

    & input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--fs-regular);
        color: var(--text-color-normal);
        border: 1px solid var(--border-color-highlight);
        background-color: var(--background-navigation-top) !important;
        padding: 0.5rem 1rem;
        max-width: unset;
    }
}

.navBox-content {
    overflow: auto;
    padding: 1rem 0 0 1rem;
    height: calc( 100% - 3.5rem );
    border-top: 1px solid var(--background-navigation-top);

    &:has(.mdw_tree) {
        padding: 1rem 1rem 0 1rem;
    }

    & .mdw_tree {
        height: 100%;
    }
}

.mdw-SideBarContainer {
    .menu_glyph {
        font-size: var(--fs-big);
        font-weight: var(--fw-semibold);
        width: 1.5rem;
        color: var(--background-progress);
    }

    .menu_parent {
        font-size: var(--fs-big);
        display: flex !important;
        flex-direction: row;
        flex-shrink: 1;
        margin-bottom: 0.3rem;
        cursor: default;
        pointer-events: none;

        &:not(.selected) {
            #color: #3d3d3d;
        }
    }

    .menuitem {
        position: relative;
        overflow: hidden;
        width: 16rem;
        writing-mode: initial;

        & span {
            font-weight: var(--fw-medium);
            color: var(--text-color-high-contrast);
        }

        &:hover span {
            display: inline-block !important;
            animation: dropdown-anim .15s ease-in-out .1s forwards;
        }

        & ul {
            display: block !important;
            border-left: none !important;
        }

        &:hover ul {
            display: inline-block !important;
        }

        &.double {
            width: 34rem;

            & div:first-child {
                width: calc(16rem - 4px);
            }

            & div:nth-child(2) {
                &:has(output) {
                    display: flex;
                    align-items: center;
                    width: 17rem;
                    max-width: 17rem;
                    justify-content: space-between;
                }
            }

            & input[type="range"] {
                width: 10rem;
                padding: 0;
                display: block;
                float: left;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-height: 450px) {
    .mdw-GridContainer {
        grid-template-areas: "sidebar main";
        grid-template-columns: 4rem calc(100dvw - 4rem);
        grid-template-rows: 100dvh;
    }

    [class^="mdw-ConsoleNavigationBox"] {
        top: 0;
        /*width: calc(100vw - 4rem) !important;*/
        max-width: calc(100dvw - 4rem) !important;
        max-height: 100dvh;
        border-top: none;
        &[data-height="full"] {
            height: 100dvh;
        }
        & ul.nav,
        & ul#nav {
            flex-direction: row;
            height: 100%;
            padding-top: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {

    .mdw-GridContainer {
        grid-template-areas:    "header"
                                 "main"
                                 "footer";
        grid-template-columns: 100dvw;
        grid-template-rows: 4rem calc(100dvh - 8rem) 4rem;
    }

    .mdw-ConsolePageHead {
        grid-area: header;
        background: var(--background-navigation);
        border-bottom: 1px solid var(--text-color-black);
        .navBreadCrumb > div {
            &:not(:first-child):not(:last-child) {
                display: none;
            }
        }
        .navControl {
            display: none;
        }
    }

    .mdw-ConsoleNavigation {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        border-right: none;
        border-top: 1px solid var(--text-color-black);

        & .compact_nav_icon {
            & .navBackdrop {
                html[data-controls-subtitle="on"] & {
                    height: 15px;
                    background: transparent url("./../../images/cacti_logo.svg") no-repeat scroll 50% 50% / 10px auto;
                }
            }
        }
    }

    .mdw-Main {
        border-bottom: 1px solid var(--border-color-light);
    }

    .compact_nav_icon_menu {
        display: flex;
        align-items: center;
        padding-top: 4px;

        &:first-of-type {
            margin-left: 1rem;
            border-radius: 4px 4px 0 0 !important;
        }

        &:last-child {
            flex-direction: row-reverse !important;
            justify-content: unset !important;
            margin-right: 1rem;
        }

        .compact_nav_icon {
            display: inline-flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 3.25rem;
            cursor: pointer;
            font-size: var(--fs-semilarge);
            border-radius: 4px 4px 0 0;

            &[data-helper="logout"] {
                display: none;
            }
        }
    }

    .mdw-active::before {
        width: 100%;
        height: 0.25rem;
        left: unset;
        bottom: 0;
    }


    [class^="mdw-ConsoleNavigationBox"] {
        left: unset;
        top: unset;
        bottom: 4rem !important;
        width: 100dvw !important;
        max-width: 100dvw;
        height: calc(100dvh - 4rem) !important;
        transform: translateY(+125%);
        padding-bottom: 2rem;
        border-top: 1px solid var(--text-color-black);

        & ul.nav, & ul#nav {
            writing-mode: unset;
        }

        & .navBox-header {
            border-top: 1px solid var(--border-color-semilight);
        }

        & .navBox-header-dropdown {
            visibility: hidden;
            width: 1rem;
        }
    }

    .saveRowParent {
        bottom: 4rem;
        left: 0;
        width: 100dvw;
        height: 4rem;
    }

    .cactiGraphContentArea, .cactiConsoleContentArea {
        & #main {
            padding: 0 0.5rem 1rem 0.5rem;
        }
    }

    html {
        &[data-kiosk-mode="on"] {
            .mdw-GridContainer {
                grid-template-areas: "main";
                grid-template-rows: 100dvh;
                grid-template-columns: auto;
            }

            .saveRowParent {
                bottom: 0;
            }
        }

        &[data-auto-table-layout="on"] {
            .cactiTable:has(th) {
                th:nth-of-type(n+3):nth-last-of-type(n+2):not(.nohide),
                td:nth-of-type(n+3):nth-last-of-type(n+2):not(.nohide) {
                    display: none !important;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    &[data-auto-table-layout="on"] {
        .cactiTable:has(th) {
            th:nth-of-type(n+2):nth-last-of-type(n+2):not(.nohide),
            td:nth-of-type(n+2):nth-last-of-type(n+2):not(.nohide) {
                display: none !important;
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    &[data-auto-table-layout="on"] {
        .cactiTable:has(th) {
            th:nth-of-type(n+3):nth-last-of-type(n+4):not(.nohide),
            td:nth-of-type(n+3):nth-last-of-type(n+4):not(.nohide) {
                display: none !important;
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    &[data-auto-table-layout="on"] {
        .cactiTable:has(th) {
            th:nth-of-type(n+4):nth-last-of-type(n+5):not(.nohide),
            td:nth-of-type(n+4):nth-last-of-type(n+5):not(.nohide) {
                display: none !important;
            }
        }
    }
}