/* Compact BreadCrumbBar with Cacti Logo */
#mdw-ConsolePageHead {
    display: flex;
    height: 4rem;
    width: 3rem;                                                    /* <=== changed */
    background-color: var(--background-content);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

#mdw-ConsolePageHead * {                  /*equal*/
    background-color: var(--background-content);
    float: left;
    padding-bottom: 0px;
}

#navBreadCrumb {
    display: none;                                                  /* changed, but optional see core.css */
}

#navBackdrop {
    display: block;
    background: transparent url(./../../images/cacti_logo.svg) no-repeat scroll 50% 50% / 20px auto;
    background-color: var(--background-navigation);
    padding-bottom: 0;
    float: left;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

/* Main Content Area */
.cactiContent {                     /*equal*/
    height: calc(100vh - 4rem - 1px) !important;
    border-top: 1px solid var(--background-menu);
}

/* Console Navigation Area */
.cactiConsoleNavigationArea {
    display: flex !important;
    flex-direction: row;
    overflow-y: visible !important;
    width: calc(100vw - 4rem) !important;
    height: 4rem !important;
    position: absolute;
    top: 0;
    left: 4rem;
    justify-content: space-between;
    padding: 0;             /* reset core */
    border-top: 0;          /* reset core */
}

.cactiConsoleNavigationArea .compact {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cactiConsoleNavigationArea .compact#compact_user_menu {
    justify-content: flex-end;
    margin-right: 0.5rem;
}

[class^="cactiConsoleNavigation"] [class$="Box"] {
    box-sizing: border-box;
    position: fixed !important;
    top: 4rem !important;
    left: 0;
    height: calc(100vh - 4rem);
    width: 100vw;
    background-color: var(--background-menu);
    border-top: 1px solid var(--background-navigation);
    z-index: 1000;
}

.mdw-ConsoleNavigationBox .fa,
.cactiConsoleNavigationBoxSmall .fa{
    padding-right: 0;
}

#nav li ul,
.nav li ul {
    padding-left: 3.5rem;
}

#nav li a,
.nav li a {
    padding: unset;
}

.cactiConsoleNavigationArea .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid var(--background-navigation);
    font-size: var(--fs-big);
    color: var(--text-color-navigation-highlight);
}

.cactiConsoleNavigationArea .header > div {
    width: 16rem;
    padding-left: 1rem;
}

.cactiConsoleNavigationArea .header > div > span {
    margin-left: 3.5rem;
}

.cactiConsoleNavigationArea .header > div:nth-child(2) {
    width: 16rem;
}

.mdw-ConsoleNavigationBox ul.nav,
.mdw-ConsoleNavigationBox ul#nav,
.cactiConsoleNavigationBoxSmall ul.nav {
    display: flex;
    flex-flow: row wrap;
    writing-mode: vertical-lr;
    margin: 0.5rem 0;
    height: calc(100% - 5rem - 2px);
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    align-content: flex-start;
}

.cactiConsoleNavigationArea #menu::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.cactiConsoleNavigationArea .compact_nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 4rem;
    font-size: var(--fs-semilarge);
    cursor: pointer;
}

.compact_nav_icon.mdw_logout {
    display: none;
}

.cactiConsoleNavigationArea .compact_nav_icon > span {
    display: none;
}

.cactiConsoleNavigationArea .menu_glyph {
    color: var(--text-color-navigation-highlight);
    font-size: var(--fs-big);
    font-weight: var(--fw-semibold);
    padding-left: 1rem;
    width: 1.5rem;
}

.cactiConsoleNavigationArea .menu_parent {
    display: flex !important;
    flex-direction: row;
    flex-shrink: 1;
    margin-bottom: 0.3rem;
    cursor: default;
    pointer-events: none;
}

.cactiConsoleNavigationArea .menu_parent:not(.active) {
    #color: #3d3d3d;
}

.cactiConsoleNavigationArea .menuitem {
    position: relative;
    width: calc(100vw - 2rem);
    overflow: hidden;
    margin: 0.5rem;
    padding: 1rem 0 1rem 1rem;
    writing-mode: initial;
    background: var(--background-content);
}

.cactiConsoleNavigationArea .menuitem:hover {
}

.cactiConsoleNavigationArea .menuitem span{
    #TODO: color
}

.cactiConsoleNavigationArea .menuitem:hover span {
    display: inline-block !important;
    animation: dropdown-anim .15s ease-in-out .1s forwards;
}

.cactiConsoleNavigationArea .menuitem ul {
    display: block !important;
    border-left: none !important;
}

.cactiConsoleNavigationArea .menuitem:hover ul {
    display: inline-block !important;
}
