/* main styles */
@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border: 4px solid var(--background-content);
        border-radius: 8px;
        background: var(--scrollbar-thumb);
    }

    .mdw-ConsoleNavigationArea::-webkit-scrollbar-thumb {
        border: 4px solid var(--background-navigation);
    }

    .mdw-ConsoleNavigationBox ::-webkit-scrollbar-thumb {
        border: 4px solid var(--background-menu);
    }
}

@supports (scrollbar-width: auto) {
    * {
        scrollbar-color: var(--scrollbar-thumb) transparent;
        scrollbar-width: thin;
    }
}

html {
    background-color: black;

    &[data-animations="off"] * {
        transition: transform 0s !important;
    }
}

body {
    overflow: hidden;
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
    opacity: 0;
    color: var(--text-color-normal);
    background-color: var(--background);

    [data-theme-state="ready"] & {
        animation: fadeInAnimation ease 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}


    /* elements */
img {
    border: none;
}

mark {
    color: yellow;
    background-color: transparent;
}

fieldset {
    font-size: var(--fs-extrasmall);
    border:none;
}

/* main Layout */
main {
    scrollbar-gutter: stable;
}

.fa:hover, .fas:hover, .far:hover, .fal:hover, .fad:hover, .fab:hover{
    color: var(--text-color-white);
}

/* navigation menu */
.menu_parent i {
    vertical-align: middle;
    color: var(--text-color-navigation-highlight);
}

ul#nav, ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* hyperlinks */
a, a:visited {
    text-decoration: none;
    color: var(--text-color-highlight-a);
}

a:hover,
a:focus {
    color: var(--text-color-highlight-a);
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

/* pseudo classes */
.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal !important;
}

.top {
    vertical-align: top;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/* input fields & elements */
textarea,
input[type="email"],
input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 50rem;
    width: 100%;
    padding: 0.2em;
}

input[type="checkbox"]:not([name^="multiselect"]), input[type="radio"]:not([name^="reindex"]) {
    position: fixed;
    top: -50px;
    opacity: 0;
}

input[type="checkbox"]:focus + label:before {
    #outline: -webkit-focus-ring-color auto 1px !important;
    #outline-color: -webkit-focus-ring-color;
    #outline-style: auto;
    #outline-width: 1px;
}

input[type="checkbox"] + label:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    font-size: var(--fs-semilarge);
    margin: 0 0.5rem;
    content: "\f0c8";
    color: var(--border-color);
}

input[type="checkbox"]:checked + label:before {
    content: "\f14a";
    color: var(--background-progress);
}

input[type="checkbox"]:checked + label, input[type="radio"]:not([name^="reindex"]):checked + label {
    color: var(--text-color-lighter);
}

/* New Checkbox Stuff */
.checkboxSwitch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 0.75rem;
    margin-right: 15px;
    margin-left: 5px;
}

.checkboxSwitch input {
    display: none;
}

.cactiConsoleContentArea {
    display: flex;
    overflow-y: hidden !important;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100% !important;

    > .stickyContainer {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: calc(3.5rem - 2px);
        margin: 0;
        padding: 0 1rem 0 1.5rem;
        border-bottom: 1px solid var(--border-color-semilight);
        background-color: var(--background-lowlight);
    }

    > .stickyContainer + #main, #main {
        overflow-y: auto;
        padding: 1rem 0 1rem 1rem;
    }

    @supports (-moz-appearance:none) {
        > .stickyContainer + #main, #main {
            padding: 1rem;
        }
    }
}



/* Cacti Table */
.cactiTable table {
    border-spacing: 0;
    border-collapse: separate;
    text-align: left;
    border: none;
    outline-style: none;
}

/* links */
th .fa {
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -5px;
}

pre {
    color: var(--text-color-light);
}

input, select {
    padding: 0.4em 0.4em 0.4em 0.4em;
    background: transparent;
}

label {
    cursor: pointer;
    white-space: nowrap;
}

.glyph_tab-console:before {
    margin-left: 17px;
    content: "\f0c9";
}

.text_tab-console {
    display: none;
}

label {
    white-space: nowrap;
}

label > span {
    color: #969BA3;
    border: none;
}

label.ui-state-active > span {
    color: var(--text-color-lighter);
}

label.ui-state-active {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(50,116,217);
    border-radius: 2px;
    border-image: initial;
    background: rgb(50,116,217);
}

label.ui-state-hover > span {
    color: var(--text-color-lighter);
}



.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: auto;
}

.flexChild {
    display: inline-block;
    flex-basis: 20%;
    min-width: 200px;
    margin-top: 5px;
}

.usermenudown {
    background: transparent url("./../../../../../images/bullet_arrow_down.png") no-repeat center right;
}

.usermenuup {
    background: transparent url("./../../../../../images/bullet_arrow_up.png") no-repeat center right;
}

.user {
    font-weight: bold;
    padding-right: 16px;
    cursor: pointer;
}

.filter {
    position: relative;
    left: -20px;
    margin-right: -10px;
}

.badpassword {
    font-size: var(--fs-big);
    padding: 4px;
    vertical-align: bottom;
    color: red;
}

.goodpassword {
    font-size: var(--fs-big);
    padding: 4px;
    vertical-align: bottom;
    color: green;
}

.associated {
    font-weight: bold;
    color: green;
}

.notAssociated {
    font-weight: bold;
    color: red;
}

.disabled_row span, .disabled_row td, .disabled_row a {
    color: grey;
    background-color: #181a28;
}

.disabled {
    font-weight: bold;
    color: grey;
}

.idle {
    font-weight: bold;
    color: green;
}

.running {
    font-weight: bold;
    color: red;
}

.newObject {
    color: blue;
}

.updateObject {
    color: grey;
}

.unmetDependency {
    color: red;
}

.foundDependency {
    color: navy;
}

.success {
    color: green;
}

.failed {
    color: red;
}

.accessGranted {
    font-weight: bold;
    color: green;
}

.accessGrantedItem {
    color: green;
}

.accessRestricted {
    font-weight: bold;
    color: red;
}

.accessRestrictedItem {
    color: red;
}

.graphDrillDown {
    z-index: 4;
    align-self: left;
    width: 22px;
    min-width: 22px;
    height: 100%;
    padding: 3px;
    vertical-align: top;
}

.iconWrapper {
    display: none;
}

.deleteIcon {
    width: 10px;
    height: 10px;
    padding: 2px;
    cursor: pointer;
    border: none;
}

.drillDown {
    cursor: pointer;
}

.monoSpace {
    font-family: var(--font-mono);
    font-size: var(--fs-small);
    color: var(--text-color-light);
}

.utilityPick {
    width: 200px;
}

.itemlist {
    overflow-y: auto;
    max-height: 200px;
}

.realms {
    width: 20%;
    vertical-align: top;
    white-space: nowrap;
}

.spikeKillMenuItem {
    display: block;
    width: 100%;
}

.deviceUp {
    color: #009d00 !important;
}

.deviceDown {
    color: #ff0000 !important;
}

.deviceUnknown {
    color: #0000ff !important;
}

.deviceDisabled {
    color: #a1a1a1 !important;
}

.deviceRecovering {
    color: yellow !important;
}

.deviceError {
    color: #ffaa00 !important;
}

.deviceDownMuted {
    color: #ffe333 !important;
}

.deviceThreshold {
    color: #ffa833 !important;
}

.deviceUnmonitored {
    color: rgba(250, 253, 158, 0.8) !important;
}

.deviceWarning {
    color: #aa7807 !important;
}

.deviceAlert {
    color: #660000 !important;
}

.deviceUpBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: rgba(148, 179, 107, 0.8);
}

.deviceDownBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #ff0000;
}

.deviceUnknownBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #0000ff;
}

.deviceDisabledBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #a1a1a1;
}

.deviceRecoveringBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #ff8f1e;
}

.deviceErrorBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #750F7D;
}

.deviceDownMutedBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #ffe333;
}

.deviceThresholdBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #ffa833;
}

.deviceUnmonitoredBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: rgba(250, 253, 158, 0.8);
}

.deviceWarningBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #aa7807;
}

.deviceAlertBg {
    font-weight: bold;
    color: rgba(22,22,22,0.8);
    background-color: #660000;
}

.beingGraphed {
    color: green;
}

.notBeingGraphed {
    color: #484848;
}

.submenuoptions {
    font-size: var(--fs-big);
    position: absolute;
    z-index: 850;
    top: 48px;
    height: calc(100vh - 48px);
    margin: 0;
    padding: 10px 0 10px 0;
    list-style: none;
    text-align: left;
    border: 1px solid var(--border-color);
    background: var(--background-lowlight);
}

.menuoptions li a, .submenuoptions li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-light);
}

.menuoptions li a:hover, .submenuoptions li a:hover {
    display: block;
    color: var(--text-color-lighter);
    background-color: var(--background-lowlight);
}

.menuoptions {
    font-size: var(--fs-big);
    position: absolute;
    z-index: 850;
    top: 48px;
    right: 5px;
    display: block;
    float: right;
    height: calc(100vh - 48px);
    margin: 0;
    padding: 10px 0 10px 0;
    list-style: none;
    text-align: right;
    border: 1px solid var(--border-color);
    background: var(--background-lowlight);
}

.import_label {
    opacity: 1;
}

.import_button {
    display: none;
    opacity: 0;
}

.import_text {
    opacity: 1;
}

.color-icon {
    background-image: none !important;
}

.emailtest {
    display: block;
    float: right;
    padding: 0 5px 0 0;
    cursor: pointer;
    text-align: right;
}

.reloadquery {
    padding: 2px;
    cursor: pointer;
    vertical-align: middle;
    color: green;
}

.verbosequery {
    padding: 2px;
    cursor: pointer;
    vertical-align: middle;
    color: orange;
}

.deletequery {
    padding: 2px;
    cursor: pointer;
    vertical-align: middle;
    color: red !important;
}

.deletequery:hover {
    padding: 2px;
    vertical-align: middle;
    text-decoration: none;
    color: red !important;
}

.odd {
    border: none;
}

.odd.tableRow {
    color: var(--text-color-light);
}

.even {
    border: none;
}

.even.tableRow {
    color: var(--text-color-light);
}

.even-alternate {
    #background: none repeat scroll 0 0 #E7E9F2;
    #background-color: #E7E9F2;
    #box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.even-alternate.tableRow {
    color: var(--text-color-light);
    #background: none repeat scroll 0 0 #FFFFFF;
}

.tableRow {
    padding: 4px 5px !important;
}

.tableRowGraph td {
    padding: 3px;
    vertical-align: top;
}

.saveRow {
    padding: 4px;
    text-align: right;
    border-color: rgba(255,255,255,0.2);
}

.treeArea, .treeItemsArea {
    width: 25%;
    vertical-align: top;
    border: 1px solid #006400;
}

.linkMarker {
    display: none;
}

.filteredValue {
    color: #F8D93D;
}

.graphItemGr1Alt1 {
    background-color: #EEEEEE;
}

.graphItemGr1Alt2 {
    background-color: #EEEEEE;
}

.graphItemGr1Cust {
    background-color: #D5D5D5;
}

.graphItemGr2Alt1 {
    background-color: #E7E9F2;
}

.graphItemGr2Alt2 {
    background-color: #E7E9F2;
}

.graphItemGr1Cust {
    background-color: #D2D6E7;
}

.graphItemAdd {
    background-color: #00438c;
}

.graphItemDel {
    background-color: #C63636;
}

.graphItemHR {
    color: #FF0000;
}

.hostUp {
    font-family: var(--font-mono);
    font-size: var(--fs-extrasmall);
}

.hostDown {
    font-family: var(--font-mono);
    font-size: var(--fs-extrasmall);
    color: #ff0000;
}

.cactiPageHead  div {
    top: 0;
    left: 0;
}

.cactiPageHead #tabs {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.cactiGraphPageHeadBackdrop {
    position: fixed;
    float: right;
    padding-bottom: 0;
}

.cactiConsolePageHeadBackdrop {
    position: fixed;
    float: right;
    padding-bottom: 0;
}

.navigation {
    overflow: hidden;
}

.debug td {
    margin: 0;
    padding: 3px;
}

ul#breadcrumbs {
    margin: auto 0;
    padding-left: 5px;
    list-style: none;
}

#breadcrumbs {
    float: left;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    border-width: 1px;
}

#breadcrumbs li {
    float: left;
}

#breadcrumbs a {
    font-size: var(--fs-medium);
    position: relative;
    float: left;
    padding: 2px 2px 2px 16px;
    text-decoration: none;
    color: var(--text-color-light);
    background-color: transparent;
}

#breadcrumbs li:first-child a {
    padding-left: 1rem;
    border-radius: 5px 0 0 5px;
}

#breadcrumbs a:hover {
    background: white;
}

#breadcrumbs a::after,
#breadcrumbs a::before {
    position: absolute;
    top: 50%;
    right: -1em;
    margin-top: -1.5em;
    content: "";
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1.1em solid;
}

#breadcrumbs a::after {
    z-index: 4;
    border-left-color: var(--background-content);
}

#breadcrumbs a::before {
    z-index: 3;
    right: -1.1em;
    border-left-color: var(--background-navigation);
}

#breadcrumbs a:hover::after {
    border-left-color: #fff;
}

#breadcrumbs .current,
#breadcrumbs .current:hover {
    background: none;
}

#breadcrumbs .current::after,
#breadcrumbs .current::before {
    content: normal;
}


#mdw-Main {
    background: var(--background-content);
}

.cactiTreeNavigationArea {
    display: none;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    color: #7e818f;
    #color: var(--text-color-light);
}

.cactiTreeNavigationArea a {
    padding-right: 18px !important;
}

.cactiTreeNavigationArea div:first-child {
    padding-left: 5px;
}

.cactiTreeSearch {
    padding-top: 5px;
}

.cactiTreeSearch hr {
    border: 1px solid #323339;
}

.jstree {
    position: relative;
    display: block;
}

.cactiLogo {
    display:none;
    width: 156px;
    margin-top: -6px;
    margin-right: 2px;
    margin-bottom: 60px;
    margin-left: 2px;
    padding-bottom: 140px;
    cursor: pointer;
    background: transparent url("./../../images/cacti_logo.svg") no-repeat 30px;
}

.logoutLeft, .loginLeft {
    display: none;
}

.loginCenter, .logoutCenter {
    display: flex !important;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cactiLoginLogo, .cactiLogoutLogo {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border: 1px solid var(--box-shadow-color);
    border-radius: 50%;
    background: var(--text-color-highlight-a) url(./../../images/cacti_logo.svg) no-repeat scroll 50% 50% / 20px auto;
}

.loginArea, .logoutArea {
    margin: auto;
    color: var(--text-color-highlight);
}

.cactiLoginTable {
    width: 100%;
}

.cactiLoginTable tr{
    line-height: 30px;
}
.cactiLoginTable td {
    width: 100%;
}

.cactiLoginTable td:nth-child(2){
    padding-bottom: 10px;
}

.cactiLoginTable tr:last-child td{
    padding-top: 20px;
}

.cactiLoginTable td > * {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.loginTitle {
    display: flex;
    justify-content: flex-end;
}

.loginErrors, .logoutErrors {
    min-height: 15px;
    text-align: center;
    color: red;
}

legend {
    font-size: var(--fs-huge);
    font-weight: bold;
    display: flex;
    align-items: left;
    flex-direction: column;
}

legend::before {
    display: block;
    width: 100px;
    height: 140px;
    content: "";
    background: transparent url(./../../images/cacti_logo.svg) no-repeat scroll 50% 50% / 60px auto;
}

.logoutRight, .loginRight {
    display: none;
}

.loginBody, .logoutBody {
    font-size: 100%;
    display: flex !important;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: var(--background-menu);
}

.loginBody input, .logoutBody input {
    color: white;
    border: 1px solid rgba(255,255,255,0.2);
}

.loginBody input[type="submit"] {
    background-color: var(--background-progress);
}

.versionInfo {
    margin-bottom: 2px;
    color: rgba(255,255,255,0.2);
}

.actionsDropdown {
    display: table;
    width: 100%;
    padding: 3px;
    text-align: right;
    vertical-align: middle;
}

.actionsDropdown div {
    display: table-row;
    margin-top: auto;
    margin-bottom: auto;
}

.actionsDropdownButton {
    display: table-cell;
    float: right;
    margin-top: 0;
    margin-right: 6px;
    margin-left: 3px;
    vertical-align: top;
}

.actionsDropdownArrow {
    float: left !important;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px;
}

.cactiTooltipHint {
    padding: 5px;
    cursor: pointer;
}

.spikekillParent {
    padding: 0 !important;
}

.spikekillData, .spikekillData td {
    #border: 1px solid #999;
}

.spikekillNote {
    #padding: 1px;
}

.spikekillMenu {
    line-height: 1.5em;
    margin: 0;
    padding: 10px 0 10px 0 !important;
;
    color: var(--text-color-highlight-a);
    border: 1px solid #3a3b3c;
    background: #100000;
}

.spikekillMenu li {
    vertical-align: middle;
}

.spikekillMenu i {
    display: inline-block;
    width: 2.0em;
    text-align: center;
}

.spikekillMenu i:empty {
    display: inline-block;
    width: 2.0em;
}

.loginPanel {
    padding: 4px 0;
}

.treeTable {
    width: 100%;
}

.treeTable td {
    color: var(--text-color-lighter);
}

.treeArea {
    vertical-align: top;
}

.graphWrapper {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    background-color: var(--background);
}

.cactiGraphContentArea {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    height: 100vh;
}

.cactiGraphContentArea span[align="center"] {
    color: var(--text-color-light);
}

.cactiGraphContentArea .tableHeader > td {
    font-size: var(--fs-medium);
    width: 100%;
    padding: 0.5em;
    text-align: left;
    text-transform: none;
    color: #FFAA00;
    background-image: linear-gradient(to right, rgb(36,38,53), rgb(28,30,45));
    background-repeat: repeat-x;
}

.cactiGraphContentAreaPreview {
    overflow-y: auto !important;
    height: 100vh;
}

.cactiGraphContentAreaPreview span[align="center"] {
    color: var(--text-color-light);
}

.cactiGraphContentAreaPreview .cactiTable {
    background: none !important;
}

#graph_view_preview2 table.cactiTable {
    background: none !important;
}

#graph_view_tree_content2 table.cactiTable {
    background: none !important;
}

#graph_view_preview2 .tableRow {
    background: none !important;
}

#graph_view_tree_content2 .tableRow {
    background: none !important;
}

.hyperLink {
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color-highlight-a);
}

.iconLink {
    line-height: 20px;
    display: inline-block;
    width: 20px;
}

.piinstall, .pienable, .pidisable, .piuninstall, .pierror {
    padding: 0px 3px !important;
}

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
    padding: 3px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.linkEditMain {
    &:hover,
    tr:hover & {
       /* text-decoration: underline;
        color: var(--text-color-highlight-a);*/
    }
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color-highlight-a);
}

.linkOverDark:hover {
    text-decoration: none;
    color: var(--text-color-lighter);
}

.linkCopyDark, .linkCopyDark:visited, .linkCopyDark:active {
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color-highlight-a);
}

.linkCopyDark:hover {
    text-decoration: none;
    color: var(--text-color-lighter);
}

/* text styles */

.textError {
    color: #FFAA00;
}

.textWarning {
    color: #ee7600 !important;
}


.textHeader {
    font-weight: normal;
    color: var(--text-color-lighter);
}

.textOverflow {
    display: block;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bold {
    font-weight: bold;
}

.remover {
    cursor: pointer;
}

.messageContainer {
    position: absolute;
    z-index: 4;
    right: 30%;
    left: 30%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.messageBox {
    position: relative;
    z-index: 4;
    margin-top: 2px;
    padding: 1px;
    border: 1px solid #04335B;
    border-radius: 3px;
    background-color: #04335B;
}

.textHeaderDark {
    font-weight: var(--fw-semibold);
    #color: var(--text-color-lighter);
}

.templateHeader {
    background: rgba(0,0,0,0.55);
}

.templateHeader td {
    padding: 3px;
}

.textSubHeaderDark, .textSubHeaderDark:visited {
    font-size: var(--fs-semismall);
    margin: 2px 0 3px 5px;
    outline-style: none;
}

.cactiBorderWall {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
}

.cactiTable {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5em 0;
    border-color: rgba(255,255,255,0.2);
}

table.cactiTable {
}

.cactiInstallLoaderSpinnerTheme {
    border-top-color: rgba(255,255,255,0.2) !important;
}

.cactiInstallLoaderSpinner{
    border: 16px solid #242635 !important;
    border-top: 16px solid var(--background-lowlight) !important;
}

.cactiTableTitleRow {
    display: table-column;
    float: left;
    width: 100%;
    padding: 3px 0 3px 5px;
    text-align: left;
    background-color: #242635;
}

.cactiTableTitle {
    font-size: var(--fs-big);
    display: table-column;
    float: left;
    width: 70%;
    padding: 3px 0 3px 0;
    text-align: left;
    border-color: rgba(255,255,255,0.2);
}

.cactiTableButton {
    font-size: var(--fs-semismall);
    display: table-column;
    float: right;
    width: 30%;
    padding: 3px 0;
    text-align: right;
    white-space: nowrap;
    border-color: rgba(255,255,255,0.2);
}

.cactiTableButton.debug {
    height: 1em;
    background: transparent;
}

.cactiTableButton span, .cactiTableTitle span {
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 5px;
}

.cactiTableButton i {
    padding: 0 8px;
}

.cactiTableButton span:last-child i, .cactiTableTitle span:last-child i {
    padding: 0 8px !important;
}

.cactiDebugTable {
    width: 100%;
}

.filterTable {
    white-space: nowrap;
}

.filterTable td:first-child {
    width: 55px;
    min-width: 55px;
}

.filterTable td {
    padding: 2px;
    white-space: nowrap;
}

.filterTable label {
    vertical-align: 10%;
}

.formRow {
    line-height: 30px;
    display: grid;
    overflow: hidden;
    align-items: stretch;
    width: 100%;
    background-color: var(--background-content);
    margin: 2px 0;
}

@media(min-width: 769px) {
    .formRow {
        grid-template-columns: repeat(2, 50%);
    }
}

.formColumn {
    display: table-column;
    float: left;
}

.formColumnLeft {
    display: inline-flex;
    align-items: flex-start;
    flex: 1;
    padding: 1rem 4rem 1rem 1rem;
    background-color: var(--background-content-element);
}

.formColumnRight {
    display: inline-flex;
    align-items: center;
    flex: 1;
    padding: 1rem;
    text-align: left;
    background-color: var(--background-content-element);
}

.formData {
    width: 100%;    /* required to equalize input[text] & textarea */
    white-space: nowrap;
    padding-right: 2rem;
}

.formFieldName {
    text-align: left;
    color: var(--text-color-lighter);
}

.formFieldDescription {
    font-weight: normal;
    line-height: 14px;
    float: left;
    padding-left: 1px;
    text-align: left;
    color: var(--text-color-medium);
    word-break-wrap: auto;
}

.formTooltip {
    display: inline-block;
}

.formHeader {
    font-size: var(--fs-big);
    line-height: 25px;
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.25rem;
    padding-left: 5px;
    text-align: left;
    text-transform: none;
    color: var(--text-color-normal);
    background-color: var(--background-progress-semilight);

    html[data-theme-color="light"] & {
        color: var(--text-color-white);
}
}


.formHeader:hover {
    color: var(--text-color-lighter);
}

.formHeader.collapsible {
    cursor: pointer;
}

.formHeader.collapsed {
    cursor: pointer;
}

.formHeaderAnchor {
    float: right;
    padding-right: 8px;
}


.graphItem {
    background: rgba(255,255,255,0.05);
}

.graphItemAlternate {
    background: rgba(255,255,255,0.05);
}

.break {
    height: 0;
}

.next {
    padding-right: 6px;
    padding-left: 6px;
}

.previous {
    padding-right: 6px;
    padding-left: 6px;
}

.cactiNavBarTop {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.cactiNavBarBottom {
    background-color: #00438c;
}

.tableHeader {
    display: table-row;
}

.tableHeader th.sortable {
    line-height: 10px;
    cursor: pointer !important;
}

.tableHeader th {
    font-weight: var(--fw-semibold);
    vertical-align: middle;
    text-transform: none;
    border-bottom: 1px solid var(--border-color-semilight);
}

.tableHeader th div {
    font-size: var(--fs-regular);
    display: block;
    padding-right: 8px;
}

.tableHeaderColumnSelected {
    color: var(--text-color-lighter) !important;
    border-bottom: 1px;
    border-left-width: 0;
}

.tableHeaderColumnHover {
    color: var(--text-color-white);
    background-color: var(--background-progress-semilight);
}

.tableSubHeaderColumn, .tableSubHeaderColumnCenter, .tableSubHeaderColumnRight {
    padding: 3px;
    cursor: pointer;
    text-align: left;
    outline-style: none;
}

.tableSubHeaderColumnCenter {
    text-align: center;
}

.tableSubHeaderColumnRight {
    text-align: right;
}

.tablesorter-headerRow {
}

.tablesorter-headerRow th {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tablesorter-headerDesc, .tablesorter-headerAsc {
    color: var(--text-color-lighter) !important;
    border-bottom: 3px solid var(--background-lowlight) !important;
    background: none !important;
}

.tablesorter-header-inner {
    padding: 2px;
}

.tablesorter-headerUnSorted  div.textSubHeaderDark {
    color: var(--text-color-light);
}

.graphSubHeaderColumn {
    padding: 3px;
    text-align: left;
    vertical-align: middle;
    color: #white;
}

.tableSubHeaderCheckbox {
    position: unset;
    width: 20px;
    max-width: 20px;
}

.image_table {
    width: 100%;
}

.tableConfirmation {
    width: 100%;
    text-align: center;
    border: 1px solid #aaaaaa;
    background-color: #f5f5f5;
}

.navBarNavigation {
    display: table;
    width: 100%;
    text-align: center;
    color: var(--text-color-light);
}

.navBarNavigation a {
    color: var(--text-color-light);
}

.navBarNavigation a:hover {
    color: var(--text-color-lighter);
}

.navBarNavigationPrevious {
    font-weight: bold;
    display: block;
    width: 10%;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.navBarNavigationCenter {
    display: table-cell;
    width: 80%;
    margin-top: auto;
    text-align: center;
    white-space: nowrap;
}

.navBarNavigationCenter span {
    vertical-align: middle;
}

.navBarNavigationNext {
    font-weight: bold;
    display: table-cell;
    width: 10%;
    height: 20px;
    cursor: pointer;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

.navBarNavigationNone {
    display: block;
    float: left;
    width: 100%;
    margin-top: auto;
    padding: 2px 0;
    text-align: center;
    white-space: nowrap;
}

.navBarNavigationNext i.ui-icon {
    top: 50%;
    margin-top: -16px;
    margin-right: -16px;
}

.navBarNavigationPrevious i.ui-icon {
    top: 50%;
    margin-bottom: -16px;
    margin-left: -16px;
}

.popupBox {
    position: absolute;
    display: none;
    overflow: auto;
    padding: 0;
    color: var(--text-color-lighter);
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    #z-index: 2;
}

.installArea {
    padding: 10px;
    background-color: var(--text-color-lighter);
}

.textAreaNotes {
}

.textEditTitle {
    font-weight: bold;
}

.textMenuHeader {
    font-size: var(--fs-extrasmall);
    font-weight: bold;
    color: var(--text-color-lighter);
    background-color: #9C9C9C;
}

.textMenuItem {
    font-size: var(--fs-extrasmall);
    background-color: #efefef;
}

.textMenuSubItem {
    font-size: var(--fs-extrasmall);
    background-color: var(--text-color-lighter);
}

.textMenuItemSelected {
    font-size: var(--fs-extrasmall);
    background-color: #E1E1E1;
}

.txtErrorTextBox {
    border: 2px solid #ff0000 !important;
}

.txtErrorText {
    font-weight: bold;
    color: #FF0000;
}

/* tabs */

.deleteMarker {
    vertical-align: middle;
    text-decoration: none !important;
    color: red;
}

.deleteMarker:hover {
    text-decoration: none !important;
}

.deleteMarkerDisabled {
    color: var(--text-color-light) !important;
}

.moveArrow {
    font-size: 14px !important;
    height: 14px !important;
    vertical-align: middle;
    text-decoration: none !important;
    color: #00438C !important;
}

.moveArrow:hover {
    text-decoration: none !important;
}

.moveArrowNone {
    padding-left: 8.75;
}

.action, .shiftArrow, .calendar {
    padding: 2px;
    cursor: pointer;
}

td.tab {
    min-width: 0;
    padding-right: 3px;
    padding-left: 3px;
    border-top: 1px solid #999;
    border-right: 1px solid #666;
    border-bottom: none;
    border-left: 1px solid #999;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
}

td.nowrap {
    padding: 0 0.5em;
    border-bottom: 1px solid var(--border-color-lowlight);
}

.ellipsis {
    display: none;
    width: 25px !important;
}

div.submenu {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
    border: 2px solid #2d4ca8;
}

div.submenu span {
    display: block;
}


.tabs {
    display: flex;
    float: left;
    align-items: center;
    width: 100%;
    height: 100%;
    border-color: rgba(255,255,255,0.2);
    background: transparent;
}

.tabs a {
    font-size: var(--fs-regular);
    float: left !important;
    padding: 0.6rem;
    vertical-align: bottom;
    text-decoration: none;
    color: var(--text-color-highlight-a);
    border-bottom: 3px solid transparent;
    outline-style: none;
}

.tabs a:hover {
    color: var(--text-color-lighter);
}

.tabs nav a.selected {
    color: var(--text-color-lighter);
    border-bottom: 3px solid var(--background-progress);
}

.tabs li {
    position: relative;
    float: left;
    margin: 0 3px 0 0;
}

.tabs li.current a, .maintabs li.current a {
    border-bottom: 1px solid #fff;
    background: #fff;
}

.tabs li.current a:hover, .maintabs li.current a:hover {
    border-bottom: 1px solid #fff;
    background: #fff;
}

.tabs nav {
}

.tabs nav:after, .maintabs nav:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

.tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navigation Area */


#nav li a, .nav li a, .nav li div:first-child {
    display: block;
    text-decoration: none;
    color: var(--text-color-navigation);
}

#nav li a.active, .nav li a.active {

}

#nav li a.active:not(.selected), .nav li a.active:not(.selected) {
    #color: var(--text-color-navigation)!important;
}

#nav li a.active, #nav li a.active:hover, .nav li a.active, .nav li a.active:hover {
    color: var(--text-color-navigation-highlight) !important;
}

#nav li a span, .nav li a span {
    margin-left: 1em;
}

tr {
    &.selected {
        background: var(--table-selected);
    }

    &:not(.selectable) {
        & a.linkEditMain {
            &:hover {
                color: orange;
            }
        }
    }

    &.selectable {
    line-height: 22px;

        & a {
            #color: var(--text-color-normal);
        }

        & td {
            border-bottom: 1px solid var(--border-color-semilight);
        }

        &:hover {
            background-color: var(--table-selectable);
        }
    }
}



#nav li ul li a.selected, .nav li ul li a.selected {
    color: var(--text-color-navigation-highlight);
}

#nav li ul, .nav li ul {
    display: none;
    padding: 0;
    border-left: 2px solid var(--separator);
}

#nav li ul li > *, .nav li ul li > * {
    padding: 2px 4px 2px 2.6em;
    outline-style: none;
}

.nav li.double ul li {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 34rem;
}

#nav li ul li a:hover, .nav li ul li a:hover {
    color: var(--text-color-navigation-highlight);
}

#nav li ul li, .nav li ul li {
    padding: 0;
    list-style: none;
}


.clogError {
    color: #FF3932;
}

.clogWarning {
    color: #EACC00;
}

.clogSQL {
    color: #6DC8FE;
}

.clogDebug {
    color: #C4FD3D;
}

.clogStats {
    color: #96E78A;
}

.clogLimit {
    color: #EACC00;
}

.clogStats td, .clogDebug td, .clogSQL td, .clogWarning td, .clogError td, .clogLimit td {
    padding: 3px;
}

div.preformatted {
    font-family: var(--font-mono);
    white-space: pre;
}

ul.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    float: left;
    margin: 0 1px;
    padding: 0 2px 2px 2px;
    text-decoration: none;
    color: var(--text-color-light);
}

ul.pagination li span {
    float: left;
    margin: 0 1px;
    padding: 0;
    text-decoration: none;
}

ul.pagination li a.active {
    color: var(--text-color-lighter);
    background-color: var(--background-progress);
}

ul.pagination li a:hover:not(.active) {
    color: var(--text-color-lighter);
}

tr#realtime td:first-child {
    height: 68px;
}

.logEmergency {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(255, 6, 6, 0.4);
}

.logCritical {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(242, 23, 33, 0.2);
}

.logAlert {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(242, 25, 36, 0.2);
}

.logWarning {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(255, 122, 48, 0.2);
}

.logError {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(251, 74, 20, 0.2);
}

.logNotice {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(250, 253, 158, 0.2);
}

.logInfo {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(204, 255, 204, 0.2);
}

.logDebug {
    width: 12.5%;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: rgba(205, 207, 196, 0.2);
}

.darkblue {
    background: #2d4ca8;
    /* Old browsers */;
}

.menuitem {
    padding: 0.7em 0.5em;
    white-space: nowrap;
}

.menuitem a {
    white-space: normal;
}

.menu_glyph {
    width: 20px;
    text-align: left;
    vertical-align: 30%;
}

.submenu_glyph {
    width: 20px;
    vertical-align: 10%;
}

hr.menu {
    height: 1px;
    border: 0;
    background: #323339;
}

.hostInfoHeader {
    padding: 8px;
}

.cactiInstallArea {
    background-color: #1c1e2d;
}

.cactiInstallSqlResults {
    color: #fff;
}

.cactiInstallSectionTitle {
    overflow: hidden;
    color: #fff;
    background-repeat: repeat-y;
}

.checkboxSlider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #555;
}

.checkboxSlider:before {
    position: absolute;
    top: -0.15rem;
    left: -0.25rem;
    width: 1.1rem;
    height: 1.1rem;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #cbccd2;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0 0 0.25rem #000;
    box-shadow: 0 0 0.25rem #000;
}

input:checked + .checkboxSlider {
    background-color: var(--background-progress);
}

input:focus + .checkboxSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:disabled + .checkboxSlider {
    cursor: not-allowed;
    background: #555;
}

input:disabled + .checkboxSlider:before{
    background: #555;
}

input:checked + .checkboxSlider:before {
    -ms-transform: translateX(1.75rem);
    -webkit-transform: translateX(1.75rem);
    transform: translateX(1.75rem);
}

/* Rounded.checkboxSliders */
.checkboxSlider.checkboxRound {
    border-radius: 24px;
}

.checkboxSlider.checkboxRound:before {
    border-radius: 50%;
}

.radioSwitch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.radioSwitch input {
    display: none;
}

.radioSlider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #555;
}

.radioSlider:before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    display: none;
    width: 12px;
    height: 12px;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #cbccd2;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

input:checked + .radioSlider {
    background: rgb(50,116,217);
}

input:focus + .radioSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:disabled + .radioSlider {
    cursor: not-allowed;
}

input:checked + .radioSlider:before {
    display: block;
}

/* Rounded.radioSliders */
.radioSlider.radioRound {
    border-radius: 24px;
}

.radioSlider.radioRound:before {
    border-radius: 50%;
}

.radioLabelWanted {
    line-height: 20px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: middle;
}

td.center > table {
    margin: 0 auto;
}



.cactiTableFilter {
    font-size: var(--fs-regular);
    float: left;
}

.cactiFilterState {
    display: none;
}

.sticky {
    position: sticky;
    z-index: 100;
    top: 0;
    /*min-height: 40px;*/
    margin: 0 -48px;
    background-color: var(--background-content);
}

circle {
    stroke: var(--text-color-light);
    stroke-width: 1px;
    fill: transparent !important;
}

    [id*="_edit"] .tableRowGraph:hover {
    border-right: 2px solid yellow !important;
    border-left: 2px solid yellow !important;
    background-color: rgba(200, 0, 200, .1) !important;
}

.tableRowGraph {
    border: 2px solid rgba(0,0,0,0);
}

.no_padding {
    padding: 0;
}

.cactiSwitchConstraintWrapper{
    display: none;
}