@media only screen and (min-width: 1280px) {
    /* For desktops: */

    .cactiPageHead {
    }

    .cactiPageHead > div {
        height: 3rem;
    }

    .breadCrumbBar {
        background-color: var(--background-lowlight);
    }

    .cactiPageBottom {
        display: block;
        height: 24px;
        bottom: 0;
        border-top: 1px solid #323339;
    }

    .cactiPageBottom {
        width: 100%;
        float: left;
        line-height: 2.2em;
    }

    .cactiVersion {
        padding-left: 10px;
        color: rgba(255,255,255,0.2);
        float: left;
    }

    #navigation_right {
        overflow-y: auto !important;
        padding: 0 15px 0 25px;
        height: 100% !important;
    }
}