<?php
/*
 +-------------------------------------------------------------------------+
 | Copyright (C) 2003 Ian Berry                                            |
 |                                                                         |
 | This program is free software; you can redistribute it and/or           |
 | modify it under the terms of the GNU General Public License             |
 | as published by the Free Software Foundation; either version 2          |
 | of the License, or (at your option) any later version.                  |
 |                                                                         |
 | This program is distributed in the hope that it will be useful,         |
 | but WITHOUT ANY WARRANTY; without even the implied warranty of          |
 | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           |
 | GNU General Public License for more details.                            |
 +-------------------------------------------------------------------------+
 | cacti: a php-based graphing solution                                    |
 +-------------------------------------------------------------------------+
 | Most of this code has been designed, written and is maintained by       |
 | Ian Berry. See about.php for specific developer credit. Any questions   |
 | or comments regarding this code should be directed to:                  |
 | - iberry@raxnet.net                                                     |
 +-------------------------------------------------------------------------+
 | - raXnet - http://www.raxnet.net/                                       |
 +-------------------------------------------------------------------------+
*/

/* make sure these values refect your acual database/host/user/password */
$database_default = "dev_cacti_2";
$database_hostname = "";
$database_username = "cactiuser";
$database_password = "cactiuser";

/* make sure this variable reflects your operating system type: 'unix' or 'win32' */
$config["cacti_server_os"] = "unix";

/* built-in snmp support */
$config["php_snmp_support"] = function_exists("snmpget");

/* colors */
$colors["dark_outline"] = "454E53";
$colors["dark_bar"] = "AEB4B7";
$colors["panel"] = "E5E5E5";
$colors["panel_text"] = "000000";
$colors["panel_link"] = "000000";
$colors["light"] = "F5F5F5";
$colors["alternate"] = "E7E9F2";
$colors["panel_dark"] = "C5C5C5";

$colors["header"] = "00438C";
$colors["header_panel"] = "6d88ad";
$colors["header_text"] = "ffffff";
$colors["form_background_dark"] = "E1E1E1";

$colors["form_alternate1"] = "E5E5E5";
$colors["form_alternate2"] = "F5F5F5";

include_once("functions.php");
include_once("database.php");

/* path variables */
$paths["cacti"] = read_config_option("path_webroot") . read_config_option("path_webcacti");
$paths["images"] = $paths["cacti"] . "/graphs";
$paths["rra"] = $paths["cacti"] . "/rra";
$paths["log"] = $paths["cacti"] . "/log/rrd.log";

/* current cacti version */
$config["cacti_version"] = "0.8";

?>
