/* main styles */

body, table, tr, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

body {
	background-color: #FFFFFF;
}

/* links */

a, a:active, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

.linkEditMain:hover {
	color: blue; 
	text-decoration: underline;
	font-weight: bold;
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
	color: white;
	text-decoration: none;
}

.linkOverDark:hover {
	color: white;
	text-decoration: underline;
}

.linkTabs, .linkTabs:visited, .linkTabs:active {
	color: #000080;
	text-decoration: none;
}

.linkTabs:hover {
	color: #3a5fcd;
	text-decoration: underline;
}

/* text styles */

.textError {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.textInfo {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.textHeader {
	font-size: 12px;
	font-weight: bold;
}

.textHeaderDark {
	font-size: 12px;
	color: #ffffff;
}

.textSubHeaderDark {
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}

.textArea {
	font-size: 12px;
}

.textTab {
	font-size: 10px;
	font-weight: bold;
}

.textEditTitle {
	font-size: 10px;
	font-weight: bold;
}

.textMenuBackground {
	background-color: #888888;
}

.textMenuHeader {
	color: #ffffff;
	background-color: #9C9C9C; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.textMenuItem {
	background-color: #F1F1F1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.cboSmall {
	font-size: 10px;
}

.txtErrorTextBox {
	border: 2px solid #ff0000;
}
