/* Prerequisites  */
@import url('./css/pre/fonts.css');
@import url('./css/pre/colors.css');
@import url('./css/pre/keyframes.css');

/* Media Queries */
@import url('./css/media/core.css') all;
@import url('./css/media/max-width-600.css') screen and (max-width: 600px);
@import url('./css/media/min-width-600.css') screen and (min-width: 600px);
@import url('./css/media/min-width-600.css') screen and (min-width: 1280px);

/* Extensions & Addons */
@import "billboard.midwinter.css";
@import "jquery-ui.midwinter.css";

html[data-theme-mode='standard'] .compact {
	display: none !important;
	width: 0 !important;
}








@media print {
	.noprint {
		display: none;
	}
}

/* kiosk mode */
html[data-theme-mode='compact'] [class~=fullscreen],
html[data-theme-mode='compact'] [class~=fullscreen] > div {
	height: 100vh !important;
}

html[data-theme-mode='compact'] .hide {
	display: none !important;
}

html[data-theme-mode='compact'] .show {
	display: block;
}

circle {
	stroke: var(--text-color-light);
	stroke-width: 1px;
	fill: transparent !important;
}

[id*='_edit'] .tableRowGraph:hover {
	background-color: rgba(200, 0, 200, .1) !important;
	border-left: 2px solid yellow !important;
	border-right: 2px solid yellow !important;
}

.tableRowGraph {
	border: 2px solid rgba(0,0,0,0);
}

.no_padding {
	padding: 0;
}