# +-------------------------------------------------------------------------+
# | Copyright (C) 2004-2024 The Cacti Group                                 |
# |                                                                         |
# | This program is free software; you can redistribute it and/or           |
# | modify it under the terms of the GNU General Public License             |
# | as published by the Free Software Foundation; either version 2          |
# | of the License, or (at your option) any later version.                  |
# |                                                                         |
# | This program is distributed in the hope that it will be useful,         |
# | but WITHOUT ANY WARRANTY; without even the implied warranty of          |
# | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           |
# | GNU General Public License for more details.                            |
# +-------------------------------------------------------------------------+
# | Cacti: The Complete RRDtool-based Graphing Solution                     |
# +-------------------------------------------------------------------------+
# | This code is designed, written, and maintained by the Cacti Group. See  |
# | about.php and/or the AUTHORS file for specific developer information.   |
# +-------------------------------------------------------------------------+
# | http://www.cacti.net/                                                   |
# +-------------------------------------------------------------------------+

name: "Maintain old issues"

on:
  schedule:
  - cron: '0 0 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

        days-before-stale: 60
        days-before-close: 7
        remove-stale-when-updated: true

        exempt-issue-labels: 'pinned, security, enhancement, future release'

        stale-issue-label: 'outdated'
        stale-issue-message: >
          This issue has been automatically marked as stale because it has
          not had recent activity. It will be closed if no further activity
          occurs. Thank you for your contributions.

        exempt-pr-labels: 'pinned, security, enhancement, future release'

        stale-pr-label: 'outdated'
        stale-pr-message: >
          This pull request has been automatically marked as stale because
          it has not had recent activity. It will be closed if no further
          activity occurs. Thank you for your contributions.

  lock:
    runs-on: ubuntu-latest

    steps:
    - uses: dessant/lock-threads@v2.0.0
      with:
        github-token: ${{ github.token }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-lock-inactive-days: '90'
        issue-exclude-created-before: ''
        issue-exclude-labels: 'future release'
        issue-lock-labels: ''
        # issue-lock-comment: >
        #   This issue tracker has been automatically locked since there
        #   has not been any recent activity after it was closed. Please
        #   open a new issue for related bugs.
        # issue-lock-reason: 'resolved'
        issue-lock-reason: ''
        pr-lock-inactive-days: '90'
        pr-exclude-created-before: ''
        pr-exclude-labels: 'future release'
        pr-lock-labels: ''
        # pr-lock-comment: >
        #   This pull request has been automatically locked since there
        #   has not been any recent activity after it was closed. Please
        #   open a new issue for related bugs.
        pr-lock-reason: ''
        process-only: ''
        debug-run: true
